%clearfix {
    &:after {
        content: ' ';
        display: block;
        line-height: 0;
        clear: both;
    }
}

body {
    margin: 0 auto;
    padding: 18px;
    padding: 1rem;

    @include media-query($medium-wide) {
        max-width: 770px;
        max-width: 42.77777777777778rem;
    }

    @extend %clearfix;
}
.wrapper {
    margin-top: 1em;
    
    @include media-query($medium-wide) {
        float: right;
        width: 68.83116883116883%; /* 530/770 */
        margin-top: 0;
    }

    @extend %clearfix;
}
.site-header {
    text-align: center;

    @include media-query($medium-wide) {
        float: left;
        width: 27.27272727272727%; /* 210/ 770 */
        text-align: right;
        padding: 0;
    }

    h1 {
        font-size: 24px;
        font-size: 1.33333rem;
        line-height: 36px;
        line-height: 2rem;
        margin: 0;
    }
}

.site-nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0 0 1rem 0;
        border-bottom: $separator;
        @include media-query($medium-wide) {
            line-height: 2;
            border-bottom: none;
            padding-bottom: 0;
        }
    }
    li {
        margin: 0 .5em;
        padding: 0;
        display: inline-block;
        @include media-query($medium-wide) {
            margin: 0;
            display: block;
        }
    }
    a {
        text-decoration: none;
    }
    a.current {
        color: $grey-color-dark;
    }
}

article {
    border-bottom: $separator;
    padding-bottom: 36px;
    padding-bottom: 2rem;
    margin-bottom: 36px;
    margin-bottom: 2rem;

    h1 {
        margin-bottom: 18px;
        margin-bottom: 1rem;
    }

    .entry-date {
        color: $grey-color-light;
    }

    .entry-header {
        margin-bottom: 18px;
        margin-bottom: 1rem;
    }

    .entry-meta {
        color: $grey-color-light;
    }

    table {
        /* give tables more room */
        @include media-query($medium-wide) {
            margin-left: -45.283%; /* 240/530, or width of left col */
            width: 145.283%; /* 770/530, or full page width */
        }
    }

    &:first-child{
        h1 {
            margin-top: 0;
        }
    }

    @extend %clearfix;
}

.pagination {
    margin-bottom: 36px;
    margin-bottom: 2rem;

    .nav-older {
        float: left;
    }

    .nav-newer {
        float: right;
    }

    @extend %clearfix;
}

.columns {
    @include media-query($medium-wide) {
        .half-col {
            width: 48%;
        }
        .left-col {
            float: left;
        }
        .right-col {
            float: right;
        }
    }
    @extend %clearfix;
}

#search-iframe {
    max-width: 100%;
}

ul.tag-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.archive ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: 0 0 18px 0;
        margin: 0 0 1rem 0;
        line-height: 1.4;
        padding: 0;
    }

    a {
        font-size: 24px;
        font-size: 1.3333333333rem;
        font-weight: 800;
        margin-right: 9px;
        margin-right: .5rem;
    }
}

.searchbox {
    display: table;
    width: 100%;
    box-sizing: border-box;

    input, .button {
        display: table-cell;
        vertical-align: bottom;
    }

    input, button {
        line-height: 1;
        height: 36px;
        height: 2rem;
    }
    
    .button {
        width: 1%;
    }
}

.comment {
    border-bottom: $separator;
    @extend %standardmargin;

    .comment-author {
        font-weight: 800;
    }

    .comment-date {
        color: $grey-color-light;
        @extend %standardmargin;
    }
}