<% wrap_layout :base do %>
<article class="post">

  <header class="entry-header">
    <h1 class="entry-title"><%= current_page.data.title %></h1>
  </header>

  <div class="entry-content">
    <%= yield %>
  </div>

</article>
<% end %>