.weekday {
	font-weight: bold;
	text-align: center;
}
.day {
	text-align: left;
	vertical-align: top;
	height: 50px;
	width: 50px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.day_selected {
	background-color: #FFFFCC;
	text-align: left;
	vertical-align: top;
	font-weight: bold;
	border: 1px solid #CCCCCC;
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.day_passed {
	text-align: left;
	vertical-align: top;
	height: 50px;
	width: 50px;
	background-color: #CCCCCC;
}
.calendar {
	background-color: #FFFFFF;
}
.month {
	font-size: large;
	padding: 10px;
	vertical-align: middle;
}
.monthlink {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align: text-top;
}
