.header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	height: 70px;
	width: 770px;
	margin: 0px;
	padding: 15px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	background-color: #FFFFFF;
}
.middle {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 10px;
	width: 627px;
	left: 168px;
	top: 118px;
	position: absolute;
	min-height: 392px;
	overflow: visible;
}
.tablinks a img {
	height: 100px;
	width: 150px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	z-index: 2;
	position: absolute;
}


.tabs div {
	height: 80px;
	width: 130px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: middle;
	margin: 0px;
	padding: 10px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

.tab_current {
	background-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-right-width: 3px;
	border-right-style: solid;
}
.tab {
	background-color: #CCCCCC;
	border-right-width: 3px;
	border-right-style: solid;
	border-right-color: #000000;
}
body {
	background-color: #666666;
	margin: 0px;
	padding: 15px;
}
.tablink1 {
	top: 118px;
}
.tablink2 {
	top: 221px;
}
.tablink3 {
	top: 324px;
}
.tablink4 {
	top: 427px;
}