@charset "utf-8";
/* CSS Document */

.no-rgba .page_title hgroup {
	background: rgb(46, 46, 46) none;
}
.no-rgba nav, .no-rgba section.copyright {
	background: rgb(110, 38, 38) none;
}
.no-rgba section.photos img {
	background: rgb(61, 61, 61) none;
}
.no-rgba section.photos img:hover {
	background: rgb(116, 116, 116) none;
}


figure {
	position: relative;
}
section.photos {
	margin-left: -15px;
	margin-right: -25px;
}
footer section.copyright {
	margin-top: 35px;
}


#logo img {
	behavior: url(iepngfix.htc);
}


.corner-cut {
	left: -185px;
}
.footer-border {
	background-repeat: repeat-x;
}
.text-bottom-line {
	background-repeat: repeat-x;
	left: -185px;
	bottom: 65px;
}