@charset "utf-8";
/* CSS Document */


section.photos {
	margin-left: -10px;
}
footer {
	zoom: 1;
}
section.quotations {
	top: 35px;
}
section.copyright {
	margin-top: 55px;
}

/* button */
.no-cssgradients section.text .text_body, .no-borderradius section.text .text_body {
	padding-bottom: 65px;
}
.no-cssgradients .more, .no-cssgradients .more:visited, .no-borderradius .more, .no-borderradius .more:visited {
	line-height: 25px;
	border: 1px solid #88706c;
	background: rgb(110, 38, 38) none;
	padding: 0 13px;
}
.no-cssgradients .more:hover, .no-borderradius .more:hover {
	background: rgb(135, 47, 47) none !important; /* increase brightness by 10% */
}
.no-cssgradients .more:active, .no-borderradius .more:active {
	background: rgb(135, 34, 34) none !important; /* increase saturation by 10% */
}

/* line number js doesn't seem to work properly in IE7 */
section.quotations p .line3 {
	color: #9e9e9e;
}