---
title: Reminders
---
<p>I'm designing a tool to help people remember things they have to do periodically but infrequently, like rotating car tires, changing air conditioning filters, etc.  Right now I'm still at the wireframing stage.  Next I'll get some people to look at them and provide feedback and start building the next iteration to test out--simple dynamic html mockups.</p>
<p>You can read about the progress so far in the posts below:</p>

<ul>
  <li><a href="<%= post_url('Reminders for infrequent tasks') %>">Reminders for infrequent tasks</a></li>
  <li><a href="<%= post_url('Reminders, part 2 - wireframes') %>">Reminders, part 2 - wireframes</a></li>
  <li><a href="<%= post_url('Reminders, part 3 - registration and login flow') %>">Reminders, part 3 - registration and login flow</a></li>
  <li><a href="<%= post_url('Reminders, part 4 - deleting accounts') %>">Reminders, part 4 - deleting accounts</a></li>
</ul>