---
title: obligatory first post
category: Meta
tags:
- Copywriting
comments: []
---
<p>Hooray, I have a blog now!  I've never customized wordpress before, so I'm still trying to work out some kinks (e.g. comment errors should be displayed by the relevant form field, not on a separate page, the blog name at the top right should be a link, etc.) and the rest of the site needs to be integrated somehow.  But I thought I'd put something online now or it would never get online.  So bear with me, not-yet-existing-readership!</p>
<p>I'll be using this space to discuss usability, accessibility, sociability, and perhaps other things that end in "ity".  I've got a few ideas for things to write about, but I've never really blogged before, so we'll see if I ever get around to writing them.  For now, I'll leave you with my favorite error message of all time:</p>
<p><%= image_tag "2009/11/unspecified_risk.png", { :alt => "This page has an unspecified potential security risk.  Would you like to continue? Yes / No" } %></p>
