---
title: Design guide for aural css?
category: Accessibility
tags:
- CSS
- Screen Readers
comments:
- id: 142
  author: Jon Pashley &raquo; Can you hear that? It&#8217;s the Internet.
  author_email: ''
  author_url: http://www.jonpashley.co.uk/hear-the-internet-aural-stylesheets/
  date: !binary |-
    MjAxMC0wMy0yNyAxNjoxMzoxNSAtMDQwMA==
  date_gmt: !binary |-
    MjAxMC0wMy0yNyAyMzoxMzoxNSAtMDQwMA==
  content: ! '[...] is a link and in recognizing those signals. Where would we start
    if we we listening for a link?1 As Pam Griffith notes in a blog post last December,
    however, there don&#8217;t appear to be &#8211; as yet &#8211; any [...]'
- id: 7386
  author: Clyde Petek
  author_email: Tizon@yahoo.com
  author_url: http://www.knowledgeability.biz
  date: !binary |-
    MjAxMi0wMy0xOSAxMDoxNjoxNyAtMDQwMA==
  date_gmt: !binary |-
    MjAxMi0wMy0xOSAxNzoxNjoxNyAtMDQwMA==
  content: I really like your blog.. very nice colors &amp; theme. Did you create
    this website yourself or did you hire someone to do it for you? Plz answer back
    as I'm looking to create my own blog and would like to find out where u got this
    from. cheers
- id: 7397
  author: Pam Griffith
  author_email: pam@pamgriffith.net
  author_url: http://www.pamgriffith.net
  date: !binary |-
    MjAxMi0wMy0yMCAxNToyNzozNiAtMDQwMA==
  date_gmt: !binary |-
    MjAxMi0wMy0yMCAyMjoyNzozNiAtMDQwMA==
  content: I made this theme myself.
---
<p>I've been thinking a lot about the <a href="http://www.w3.org/TR/CSS2/aural.html">aural css properties</a> today--things like azimuth, pitch, voice-family, etc. that are theoretically available to screen readers.  Visual design guides are all over the place, a lot of them adapted from or comparing the web to print media.  They say things like "your lines shouldn't be longer than X characters" or "you need to have contrast between your headings and your text" or "the ratio of your line height to your font size should be X" or "don't fill up the whole page, leaving white space makes things easier to read."</p>
<p>But I've been looking around and I can't find anything of the sort for aural web design, other than that you should use those properties to make your designs less terrible for people on screen readers.    You might be able to adapt from radio guidelines, if such things exist, but it doesn't look like anyone has yet.</p>
<p>Am I wrong?  I'm sure there are some conventions shared between screen readers for default aural stylesheets the way that visual browsers do, but I admit I haven't spent much time with screen readers.  And I'm sure some improvements you could come up with off-hand, like adding a pause before and after headings, which I suspect is one of the screen readers' defaults.  But some things don't have direct analogues to visual styles--what does a hyperlink sound like?  How about when you hover over it?  And according to <a href="http://sonify.psych.gatech.edu/~walkerb/">Professor Bruce Walker</a> in an Intro to HCI course I took a couple years ago, there are some things that the blind and the sighted just conceive of differently, like high vs low pitch to mean something large.</p>
<p>I've never attempted to design an aural stylesheet, but I'm genuinely curious now and probably will.  If you know of a style guide (or several), please let me know in the comments!</p>