---
title: How (not to) write an alert message
category: Design Critique
tags:
- Copywriting
comments: []
---
<p>If your alert message needs instructions, you're doing something wrong.</p>
<p><%= image_tag "2010/04/dialoginstructions.png", { :alt => "Confusing dialog message headed by &quot;Don't click &quot;OK&quot; if your system is running fine&quot;" } %></p>
<p>This is what you get when you ignore the poor usability warning signs.</p>
