---
title: Designing for understanding and user empowerment
category: Design Critique
tags:
- Psychology
comments:
- id: 97
  author: Jim
  author_email: jim@graphikjunkie.com
  author_url: ''
  date: !binary |-
    MjAxMC0wMy0xNyAwNjoyMDozOCAtMDQwMA==
  date_gmt: !binary |-
    MjAxMC0wMy0xNyAxMzoyMDozOCAtMDQwMA==
  content: ! 'One example: video games. Take a modern video game like some first-person
    shooter for xbox - they almost all start the player off with easy to reach goals,
    providing hints along the way until he/she reaches the point of becoming familiar
    with the controls, the concepts of the game and any idiosyncrasies that are new
    to that particular game - before offering gradually more difficult challenges
    and concepts. I''m sure you could find a ton of examples and then work on transposing
    them to fit the web development model. Hope this helps. -Jim'
- id: 99
  author: Pam Griffith
  author_email: pam@pamgriffith.net
  author_url: http://www.pamgriffith.net
  date: !binary |-
    MjAxMC0wMy0xNyAxOTozMzoxOCAtMDQwMA==
  date_gmt: !binary |-
    MjAxMC0wMy0xOCAwMjozMzoxOCAtMDQwMA==
  content: ! "<p>Yes, thank you :)  It does depend on the game, of course, a lot of
    games assume you already know the genre these days, but you reminded me of a <a
    href=\"http://jonoscript.wordpress.com/2009/12/14/a-tutorial-level-for-the-internet/\"
    rel=\"nofollow\">blog post</a> about that very thing.  It mentions things like
    an impassable wall blocking progress to the right to teach players to try going
    left.</p>\r\n\r\n<p>Of course, I'd be really careful about introducing something
    impossible into an important interface--that particular feature requires a certain
    playfulness and willingness to explore that may not be appropriate for, say, a
    banking website.  And you don't want the user to get stuck--I remember something
    similar in Super Mario world, where there was a cape and a pipe to run up; I didn't
    understand what to do and restarted the game.</p>\r\n\r\n<p>There's probably just
    as much to be learned from how *not* to do a tutorial, too, like the 6-hour-long
    intro to Kingdom Hearts II and all of its cute but irritating mini games that
    didn't really teach much in the way of gameplay.  The lesson there is make the
    teaching relevant and brief, and not too tangential to the task at hand, I think.</p>\r\n\r\n<p>Anyway,
    yes, definitely game design methods are something to think about in terms of other
    sorts of user interface design!</p>"
---
<p>I recently <a href="<%= post_url('How do we design for learned helplessness?') %>">wrote a post</a> about desiging for people who don't feel like they can understand computers.  Specifically, I said, "The trick is adding a sense of empowerment and taking out the disempowering elements."  That can mean all sorts of things in different situations, but I saw a really interesting example of it in a Discovery Channel show while I was away for the holidays.</p>
<p>The show was about genetics and mutations in the human genome.  That's a really complicated subject, but the show did a very good job in presenting it in laymen's terms.  One could just as easily become confused and frustrated and give up on the show entirely, just as one could on a website, but the content and graphics were very carefully designed to break everything down and to <strong>make the viewer believe that they have the ability to understand, and to take pride in that ability</strong>.</p>
<p>When I was in 9th grade, my teacher said that authors, especially mystery and suspense authors, liked to write so their audience was just a little bit ahead of the characters in figuring out what was going on.  That way they would get a little<strong> ego boost that they were smart enough to figure it out and feel good about continuing to read</strong> the book.  I think the genetics program provided similar little ego boosts throughout the program to keep the interest of people who otherwise might not think they could understand the subject.</p>
<p>I'd like to talk about one animation in particular, and it's a pity I didn't manage to find a clip of it, but little text diagrams will do.  Several times the show talked about the genetic changes that appear between the genomes of people with a genetic disease and without or between chimps and other animals and humans.  Now, genes can be represented as a series of the letters A, T, C and G, and while the voice-over was talking about the changes the program showed the sequence of letters from one gene and from the other gene with the differences highlighted in red.  Then it would show just the changed letters all by themselves, isolated from the rest of the gene.  So you might (if you'll pardon my completely making the sequence up) see something like this:</p>
<blockquote><p>AATGCGAAT</p>
<p>AATG<span style="color: #ff0000;">T</span>G<span style="color: #ff0000;">C</span>AT</p>
<p>↓</p>
<p><span style="color: #ff0000;">TC</span></p></blockquote>
<p>I'm not a geneticist, but I'm pretty sure that the TC there all by itself doesn't really mean anything isolated from the rest of the gene.  All it's really communicating there is the amount of change that happened, but it maintains the original sort of "techy" look.  This was especially interesting when they were talking about two sets of changes—the differences in a particular gene between a chicken and a chimpanzee and between a chimpanzee and a human.  There were very few changes between the chicken and the chimpanzee, but a lot between the chimpanzee and the human, so the red highlighted changes that they pulled out looked something like <span style="color: #ff0000;">AG</span> and <span style="color: #ff0000;">CCGATTAATG</span>.  They could have communicated the difference simply with lines of different lengths (|--| and |----------|), but by keeping in the original letters it sort of feels like you're understanding something more complex than just "this change is more dramatic than this change."  <strong>And if you feel like you've understood one complex thing, you'll have more confidence that you'll understand other things the show might tell you as well, and feel good about yourself for understanding</strong>.</p>
<p>I wrote before that technical looking things should be avoided, but in this case it's actually a benefit.  However, what it's actually communicating is quite simple, and by that point in the program the viewer already has a fair amount of confidence from other animations and explanations that the program will break all the technical things down to an understandable level, so it's not going to scare people off immediately when they see it.  So it is a very interesting method of building a user's confidence in themselves, but I wouldn't use it without earning the user's trust first that you won't throw them things they can't handle.</p>
<p>So now I'm thinking about other ways to make a user feel proud and empowered for having understood something, and other classic narrative conventions that can be used to build engagement and trust.  If you have other examples like this, I'd appreciate it if you'd mention it in the comments :)</p>
