---
title: ! '[Fixed] Please excuse the missing character question marks'
category: Meta
tags: []
comments: []
---
<p>Wordpress can't figure out what character set it's in and is spewing junk text left and right.  Will fix tomorrow, giving up for the evening.  I hate character sets.</p>
<p>Edit: Fixed!  It turned out that the plugin I installed to produce pdf files for things like my resume was converting all utf-8 characters on all the generated html pages, too, not just the generated pdfs.  *sigh*  Well, I won't be using that one.</p>
