---
title: Javascript date formatting library
category: Code
tags:
- Javascript
comments: []
---
<p>This isn't directly related to usability, but I just finished a <a href="<%= data.meta.baseurl %>/portfolio/jsdate">date formatting function</a> that I've been working on for a while.  It's based on <a href="http://php.net/manual/en/function.date.php">PHP's date() function</a>.  I frequently work with both javascript and PHP together, and I often find myself wanting PHP's date function in javascript, too, which doesn't have much in the way of date formatting itself.</p>
<p>Most of the code in there is stuff I find myself writing over and over again every time I work with dates in javascript, just bound together into one nice function.  If you think you would find it useful, too, go check out <a href="<%= data.meta.baseurl %>/portfolio/jsdate">jsdate</a>.</p>
<p><strong>Edit:</strong></p>
<p>I made some changes to one of the functions, and I found an error that had been preventing the minified version of the file from working.  So those should be better now.</p>
