---
title: The curious difficulty of backup with Sky Drive
category: Design Critique
tags: []
comments:
- id: 109
  author: Kafka
  author_email: crowdcontrol1@gmail.com
  author_url: ''
  date: !binary |-
    MjAxMC0wMy0xOCAyMDo1MDoyMyAtMDQwMA==
  date_gmt: !binary |-
    MjAxMC0wMy0xOSAwMzo1MDoyMyAtMDQwMA==
  content: ! "I share your frustration.  I use ADrive (more space and a smoother uploader)
    for my music, but nothing that changes routinely.\r\n\r\nHere's how you can map
    your SkyDrive, then you can set up your backup with whatever utility you choose.
    \ Credit goes to Induced_Chalice on the Winmatrix forums.\r\n\r\nGet the SkyDrive
    url for one of your folders:\r\nhttp://cid-c8daa1cc3635cc9a.skydrive.live.com/browse.aspx/.Public\r\n\r\nNow
    change it to this:\r\nhttps://wb9rpt.docs.live.net/c8daa1cc3635cc9a/.Public\r\n\r\nWin7
    &amp; Vista (dont know how to do it on XP):\r\n\r\n    * Go to my computer, right
    click an empty area and click \"Add a network location\"\r\n    * Click Next.
    Click \"Choose a custom network location\". Click Next again.\r\n    * In the
    box, paste the url you just created. Click Next.\r\n    * Give the folder a better
    name e.g. \"SkyDrive Files\". Click Next again. Then finally click Finish."
- id: 114
  author: Pam Griffith
  author_email: pam@pamgriffith.net
  author_url: http://www.pamgriffith.net
  date: !binary |-
    MjAxMC0wMy0yMCAxMToyMTowMCAtMDQwMA==
  date_gmt: !binary |-
    MjAxMC0wMy0yMCAxODoyMTowMCAtMDQwMA==
  content: ! "<p>Wow, that totally ate all your line breaks, didn't it?  I need to
    fix that, sorry :(</p>\r\n\r\n<p>Thanks for the tip!  I'm mostly frustrated with
    companies (especially big, older tech giants like MS) tossing out something mediocre
    when with a little more thought they could be creating something great.</p>"
- id: 876
  author: night
  author_email: night.on.the.web@gmail.com
  author_url: ''
  date: !binary |-
    MjAxMC0xMC0wNCAwMDoyNjo0MSAtMDQwMA==
  date_gmt: !binary |-
    MjAxMC0xMC0wNCAwNzoyNjo0MSAtMDQwMA==
  content: Have you tried to use SyncBack or Crash Plan free + gladinet?
- id: 1282
  author: TDG
  author_email: timgarber@yahoo.com
  author_url: ''
  date: !binary |-
    MjAxMC0xMS0wNyAwNzoyNjoxOCAtMDUwMA==
  date_gmt: !binary |-
    MjAxMC0xMS0wNyAxNToyNjoxOCAtMDUwMA==
  content: ! "I'd be willing to bet the reason Skydrive is as difficult and featureless
    is due to lawyers.  I'm sure every feature was killed by but if people share...
    \ but if people upload...  And then there is the Marketing department screaming,
    you can't give it all away...  ect. ect.\r\n\r\nSeen it all before."
- id: 1813
  author: shaul
  author_email: shaulbr@gmail.com
  author_url: ''
  date: !binary |-
    MjAxMC0xMi0yNCAwOTo0NjoxNiAtMDUwMA==
  date_gmt: !binary |-
    MjAxMC0xMi0yNCAxNzo0NjoxNiAtMDUwMA==
  content: ! "my language is not english so i didnt understand every word. anyway,
    i understood the meaning. hey, i use skydrive and i bless MS every day for skydrive.\r\nsomethings
    can be better, 4 sure, but the punch line is, it's good."
- id: 6401
  author: Duplicati Backup
  author_email: rene@duplicati.com
  author_url: http://www.duplicati.com
  date: !binary |-
    MjAxMS0xMi0wMyAxMDoxNTo0MyAtMDUwMA==
  date_gmt: !binary |-
    MjAxMS0xMi0wMyAxODoxNTo0MyAtMDUwMA==
  content: ! "Good news: Things got better lately. Duplicati is a backup tool that
    creates encrypted, incremental, compressed backups. Duplicati is able to automatically
    upload those backups to Windows Live Skydrive. Set up your backup with Duplicati
    and choose Windows Live Skydrive as target and you have a securely encrypted backup
    online.\r\n\r\nDuplicati also splits all files into small chunks so that the 50MB
    limit does not really apply. This is the easiest solution I have found to make
    an encrypted backup of local files and upload it to an online storage provider.\r\n\r\nGive
    it a try: http://www.duplicati.com (it's free, open source)"
---
<p>I've been exploring backing files up to various cloud services lately.  I'm tired of disks, and I'm tired of having to think about it (because who really backs stuff up as frequently as they should?), so I want something that I can set up once and from then on it backs up automatically without my intervention.</p>
<p>So I've been trying out a bunch of things that have been better or worse for me, but this post isn't about them.  It's about the curious lack of OS-level integration of Windows Sky Drive and the complete failure of the service to live up to its totally awesome potential.</p>
<p>Sky Drive is a Windows Live service that offers 25gb of storage for free.  It's marketed as a number of things, one of which is "online storage that you can access from any computer," which will synchronize with their various programs like Office and whatever the photo program is called these days.  Now I don't actually use any of those programs, so I haven't tried that particular syncing method, but I do use Windows and <strong>this seems like an obvious way for Microsoft to attempt to integrate cloud services into the operating system</strong>.  And Windows Live already prompts you to download a piece of software called Windows Live Essentials, that seems like a great place to put a shell extention that would do that.</p>
<p>Perhaps my imagination went a little wild at this point, having been disappointed by several backup solutions already, but I thought "Surely Microsoft could do it right!  This is the area they've been trying so hard to get into, and there is such obvious potential here that even they could see it!"  I expected something awesome--after all, they wrote the operating system, they ought to be able to integrate with it well, perhaps in ways other programs can't.  I expected to be able to right click on a file or folder and get a "add to Windows Sky Drive" option.   This would of course sync my files automatically whenever I changed them.  I expected a   "Restore my files from Windows Sky Drive" utility for when my files got lost in a horrible hard drive incident.  I expected something simple enough for an elderly technophobe to use.  I tell you, friends, I was disappointed.</p>
<p>There were no Sky Drive utilities in the largely-useless Windows Live Essentials package.  As far as I can tell, Microsoft makes no such thing.  What you get, unless you are using their Office integration or their Photo sharing, is a webpage with 5 file upload boxes on it.  <strong>You are expected to fill up those 25gb 5 files at a time, selected individually, each no more than 50mb</strong>.  Wow.</p>
<p><%= image_tag "2010/02/skydrive-site.jpg", { :alt => "The Sky Drive upload form with its 5 upload dialogs" } %></p>
<p>Convinced that this could not possibly be right, that there must be some way to back things up to Sky Drive more easily, I started searching.  The <a href="http://nysicsclubhouse.wordpress.com/2009/05/02/automatically-backup-to-skydrive/">very best solution</a> I found involved not just one but <em>two</em> third party programs, the first of which gave me the worst End User License Agreement dialog I've ever seen:</p>
<p><%= image_tag "2010/02/badeula.jpg", { :alt => "A dialog inviting you to view the EULA on a webpage with a non-clickable, non-selectable url" } %></p>
<p>Now I know no one reads these things anyway, but they're not even trying here.  You have to go to a web page to view it, and that's not even a link.  In fact, it's not selectable, either, so you can't even copy and paste.</p>
<p>Incidently, it is possible to get automated backups working with Gladinet alone, without the second program.  This still isn't as good as I originally envisioned, but I suppose it will do until something better comes along.</p>
