---
title: Touchscreens, games, and Fitts' Law
category: Design Critique
tags:
- Ergonomics
- Games
comments:
- id: 2853
  author: Thomas G Hale Sr.
  author_email: Tsr@socialdeviation.com
  author_url: ''
  date: !binary |-
    MjAxMS0wNS0wOSAyMDowNzo1NCAtMDQwMA==
  date_gmt: !binary |-
    MjAxMS0wNS0xMCAwMzowNzo1NCAtMDQwMA==
  content: ! "Screen design in the mobile format has to be tight. I tend toward simplicity,
    but the question becomes depth of gameplay and replayability. So the challenge
    comes level design in a simple format. \r\n\r\nI am actually thinking of dropping
    that format altogether and going right for the role play market of pen and paper,
    but on the mobile format. I haven't worked it all out yet, but I think there are
    tons of unexplored mechanics that would be compelling to play similar to how the
    olde pnp games ran, but completely base on social media driving the gamestory."
---
<p>I've been thinking a lot about mobile design lately--what makes a good small-screen design, what makes a good touch-screen design, and how does that compare to devices that have  a cursor like some Blackberry models, etc.  To that end, I've been trying out a lot of mobile apps.</p>
<p>One that I was playing with recently is called <a href="http://itunes.apple.com/us/app/dreamscape/id380418288?mt=8">DreamScape</a>.  It's a very pretty, enjoyable little game, the object of which is to pop bubbles.  More points if you pop multiple bubbles together with one tap.  It's very relaxing, rather like popping bubble wrap but with a little more skill, more aesthetically pleasing sounds, and pretty backgrounds.</p>
<p>I realized after a few minutes of playing that this game is all about <a href="http://en.wikipedia.org/wiki/Fitts%27s_law">Fitts' Law</a>.  You get more points for more overlapping bubbles, and the more bubbles you have overlapping the smaller the clickable space is likely to be.  You get more points when you get the upgrade that makes the bubbles move faster.  I believe you get more points for smaller bubbles, though the rules don't really specify.  And the bubbles that are an instant game over are the largest size.  And it's doing all of this with a notoriously inaccurate stylus--the finger.</p>
<p>It's not really anything novel, games have been making use of size and speed to increase difficulty for ages, and this certainly isn't the only iOS game to do so.  But what struck me as interesting for other sorts of touchscreen applications is that the bubbles in some parts of the screen seem more difficult to hit because of the way I was inclined to hold my hand there: there are some angles where the place I think I'm pointing at does not actually match the place that my finger actually touches first.  That means that there are some places on the screen where you can get away with smaller buttons or targets than others.</p>
<p>It's something to think about for future designs, and to keep in mind when testing them.</p>
