---
title: Email contact nicknames
category: Design Critique
tags: []
comments: []
---
<p>I always find it a little jarring when I see email in my inbox from my parents with their full names.  I don't think of my parents as Carol and Larry, they're mom and dad.  It's worse when I want to send it--I think every single time I write an email to my mother I start by typing mom, backing up and replacing it with her name.  This is especially irritating because I know a lot of other people with similar names, so I have to select between them or type the full email address, but I've only got one mom.</p>
<p>I figured out some time back that I can fix that on my cell phone by adding nicknames, and it just works when I start typing in mom or dad.  I noticed tonight that gmail contacts also has this option, but apparently it doesn't use it anywhere.  Their full names are still in my inbox and typing in "Mom" brings up nothing in the "to" field.  Plus the contacts section, though better since the redesign, is still an awkward way to do this--what I'd kinda like is something more like the way IM client aliases tend to work, where I can just right click and nickname someone right there.</p>
<p>Oh well.  I got sorting 10 after 9 in filenames in Windows 7, maybe there's hope that they'll get this one right someday, too.</p>
