---
title: ! 'IA Summit 2012 Notes: Clutter is King'
category: Conference Notes
tags:
- IAS12
- Organization
- Psychology
comments: []
---
<p><em>This is part of a series of notes from the Information Architecture Summit from 2012. All posts will be tagged <%= link_to "IAS12", tag_path("IAS12") %>. This talk was presented by Paris Buttfield-Addison and Jon Manning (<a href="https://twitter.com/#!/thesecretlab">@thesecretlab</a> on Twitter).</em></p>
<ul>
<li>Piles vs files: research from the 80s on understanding software by looking at the way people manage their pysical offices and workspaces: documents, scraps of paper on desks, filing cabinets, etc.
<ul>
<li>A piler heaps chunks of content all over their desk, create a very messy desk (most people are pilers)</li>
<li>A filer has an organized, rigid, controlled, possibly complex system for managing stuff</li>
</ul>
</li>
<li>Many users prefer working in clutter, measurably more productive and efficient. This is because piling lends itself to:
<ul>
<li>Discovery--finding links between two previously separate topics or projects</li>
<li>Reminders--it's at the top of the pile, front and center, so you'll remember it; things that are used a lot are close at hand, things that are new are on top</li>
</ul>
</li>
<li>Physical layout of stuff maps closely to their mental model; piles on the desk mirror how things are grouped in their mind</li>
<li>People who are messier feel more in control, that they have a better grip on how their work is organized. They don't learn rules, the organization flows naturally from how their mind works.</li>
<li>The real world is not a neat little box like your application may be: contrast between clean, simple applications surrounded by cave of clutter. The workspace is not their work, the room is their work.</li>
<li>Filing creates a lot of cognitive overhead in addition to the actual work
<ul>
<li>extra stress if fail to adhere to system, not doing what you're supposed to</li>
<li>extra stress if something is misfiled--can't find it, what if other things are misfiled</li>
</ul>
</li>
<li>Take lessons from piling into computer, design interfaces for clutter (none of the following is about visual design: cluttered organizational system can still be visually clean). Applications should think in piles, too.
<ul>
<li>People put stuff on the desktop and understand that they'll come back to it back later; if they can't find it spatially they can use search</li>
<li>iWork suite on desktop &amp; iPad: iPad has no unified tool to represent document, each one must have its own representation of files. In Pages, most recently used stuff goes in the top left.</li>
<li>Top sites in safari: behaviorally the same as bookmarks but there is no categorization, it's generated as you browse</li>
<li>Twitter favorites: most people use to save tweets with urls to read later, it's a pile with the most recent on top</li>
<li>All of these feel relaxed and the user knows where their stuff is. There is no overhead, it's simply put there and the user knows how and where to get it when they need it. Flexible, no restrictions.</li>
</ul>
</li>
<li>Making a clutter-friendly app does not mean you can be lazy about thinking about organization. It's actually more work than a rigid system because you have to
<ul>
<li>make app conform how people really organize their work</li>
<li>make it so the user can always find where they were and quickly get to it and go</li>
<li>let an emergent structure appear; user may never notice, and doesn't have to express preferences, it just emerges from how they work</li>
</ul>
</li>
<li>Responsive but not smug
<ul>
<li>Intelligent agent is designed to work with user in semi-human approach; never intelligent enough. E.g. Siri: has a very limited set of commands that it can actually respond to even though it converses like a human and uses human voice, fails expectations</li>
<li>Safari top sites just quietly organizes sites; done well, the user never even notices</li>
<li>Pages for iPad: uses animations to move most recent document to the top left, helps tell the user about thge layout of their work and build mental model</li>
</ul>
</li>
<li>Fault tolerant but not lazy
<ul>
<li>Encourage user to make mistakes because mistakes have no consequences, allows user to relax
<ul>
<li>Undo: we talk about it in terms of content, but rarely in terms of organizational structure. Gives people freedom to explore without the possibility of destroying things (e.g. undo menu in the finder can undo renames, deletes, etc.)</li>
</ul>
</li>
<li>Encourage user to do what they want organization-wise
<ul>
<li>Stong rigid organization system makes people feel like they're not living up to what the design wants them to do (e.g. Jira and other bug reporting systems--however, see comments below on shared systems)</li>
</ul>
</li>
</ul>
</li>
<li>Attractive no matter what kind of clutter the user puts into it. Allow for organizational complexity while still being visually clean. "If you're going to let your users make a mess it should damn well look good...because they're going to make a mess."
<ul>
<li>People put stuff in Pinterest and don't care about organization, but the layout makes the images look nice and clean even though they don't naturally go together</li>
<li>iPhoto works out which photos belong together (gps, time) and user can just create a group: filing system is done for you, obviates the overhead of filing system while still providing the organizational benefits</li>
</ul>
</li>
<li>Adapt your design constraints to fit what the user wants
<ul>
<li>Opposite of guiding users to fit your apps constraints</li>
<li>You need mental models</li>
</ul>
</li>
<li>Sharing piles of stuff is trickier. If piles are the user's mental model, it's hard to transfer that between people. You need something more rigid, e.g. Jira and other bug reporting systems (however, Trello is apparently more flexible?)</li>
<li>Recency effect? people will look at the bottom of the pile when presented with a large pile of stuff so the stuff at the bottom doesn't get lost
<ul>
<li>also stuff is related, so people remember</li>
</ul>
</li>
<li>Scalability: e.g. in email, the bigger the inbox gets the more you rely on search
<ul>
<li>piling approach is really a variation of filing, piles can represent regions of time, can create archived folder monthly, yearly, etc. and remember the rough time period (can do in a way that doesn't impact your immediate needs)</li>
</ul>
</li>
<li>Present need vs archival need--how do I find the tweets that I like a month ago? piling facilitates now, but need structures and models for accessing later
<ul>
<li>often people don't need that, but iPhoto will generate archival system for you</li>
<li>the presenters have not not really been looking into the point at which they file their stuff away</li>
</ul>
</li>
<li>Duplication of data--ad hoc organization doesn't solve that, but filing after the fact could</li>
</ul>
<h2>Key take-home points for me:</h2>
<p>I think the most interesting part of this presentation was not just that the applications I develop should allow people to organize things how they want, but that it might be possible to create a no-overhead filing system that symply emerges from the stuff being organized so there can be benefits of both piling and filing without any of the extra work. I love the example of iPhoto creating groups automatically using data embedded in the photos, and I'm going to think about how I do things like that in my future projects.</p>
