---
title: ! 'IA Summit 2012 Notes: Adapting ourselves to adaptive content'
category: Conference Notes
tags:
- IAS12
- Copywriting
comments: []
---
<p><em>This is part of a series of notes from the Information Architecture Summit from 2012. All posts will be tagged <%= link_to "IAS12", tag_path("IAS12") %>. This talk was presented by Karen McGrane (<a href="https://twitter.com/#!/@karenmcgrane">@karenmcgrane</a> on Twitter). Slides are on <a href="http://www.slideshare.net/KMcGrane/adapting-ourselves-to-adaptive-content-12133365">Slideshare</a>.</em></p>
<ul>
<li>We need structured content to adapt to multi device future</li>
<li>Publishers are like a bellweather or a canary in a coal mine. They are forced to adapt to content problems more quickly than other companies</li>
<li>Publishing companies don't have enough people or resources to populate all devices with customized content: "we cant afford to be creating content that will appear on only one platform"</li>
<li>Case Study: Conde Nast
<ul>
<li>Paul Ford: This is the golden age of PDFs on the iPad</li>
<li>Conde Nast creates custom ipad versions of major titles (GQ, Glamour, etc)
<ul>
<li>not searchable, not selectable, cant save it: it's a giant heavy graphic</li>
<li>They are translating all of their art direction into digital twice for portrait and landscape layouts</li>
</ul>
</li>
<li>Sales of iPad issues have dropped precipitously since initial novelty. Glamor (their most lucrative print tilte) sold only 2,775 copies in November.</li>
<li>Conde Nast changing to more flexible strategy: create once and distribute everywhere, start with workflow to support all of their designs</li>
</ul>
</li>
<li>Case Study: NPR
<ul>
<li>COPE: create once publish everywhere. API lets them get content out in variety of different contexts.
<ul>
<li>creates clean, well structured, flexible content</li>
<li>no custom development for multiple platforms</li>
<li>text, images, audio from CMS runs through API</li>
<li>Can see exact same story in NPR.org, mobile site, app, user generated NPR app, public radio player (pulls in from 500 public radio stations), etc. Platforms talk to the API and make the design decisions appropriate for the device (and not how the content is structured by the CMS)</li>
</ul>
</li>
<li>NPR pageviews have gone up 80% because of api</li>
<li>Biggest impact is mobile strategy: they put the work into structured content and API up front instead of lots of custom development for each platform so they are able to get new apps out quickly</li>
</ul>
</li>
<li>Future of adaptive content
<ul>
<li>Set up a reusable content store from the beginning--don't know where content will go or how it will look in any particular channel, but will have the flexibility to reuse it on any new channel in the future</li>
<li>Case study: TV Guide
<ul>
<li>in 80s realized in content business, not magazine business</li>
<li>required writers to write 3 versions of descriptions: small, med &amp; large</li>
<li>didn't want all of their content locked up in files, wanted a variety of flexible content to use in the future</li>
<li>company that publishes magazine sold recently for $1--no value in magazine publishing business anymore, their value is the reusable data to sell to variety of platforms</li>
</ul>
</li>
<li>multiple sizes--headlines, summaries, etc.</li>
<li>meaningfull metadata--platform needs to be able to query content for size and characteristics, platform can make decisions about what it wants to show</li>
<li>written for reuse--don't think about use in just one context</li>
</ul>
</li>
<li>why are the news organizations able to innovate
<ul>
<li>news organizations already have structured content: journalism students are tought to create packages of content: (headline, deck (short summary), lede (put the most important ideas in first paragraph), photo, captions (of photo) &amp; cutlines (summary of photo), nut graph (bulleted summary of article)</li>
<li>however, in a magazine content and form are tightly integrated and publishers have a hard time imagining content set free of appearance
<ul>
<li>hard to think about content broken into little bits, hard to imagine where content lives because it's in so many different places</li>
<li>hundreds of years of print primacy have built a particular culture, process, workflow, values
<ul>
<li>Case Study: New York Sunday Review was designed for print first (with very large images) and then handed to developers. Desktop version of website is bad because no one thought about it, mobile site is actually broken</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li>We are making the same mistake by designing for the desktop web first!
<ul>
<li>Case study: Amazon product page--most A/B tested page on the internet, but on mobile robot goes and gets data and puts up content until it runs out of space
<ul>
<li>truncation is not a strate...</li>
</ul>
</li>
</ul>
</li>
<li>*Content* first
<ul>
<li>not print first</li>
<li>not web first</li>
<li>not even mobile first</li>
<li>clean, well structured, reusable, flexible content</li>
<li>designed from the start to go into variety of contexts, even those you haven't thought about yet</li>
<li>break up marriage of content and form</li>
</ul>
</li>
<li>WYSIWYG CMS infrastructure that lets you see in desktop webpage context, leads you to believe it is in fact "what you see is what you get" without any consideration that it might not be in any other context
<ul>
<li>content developed that way has to be retrofitted for reuse</li>
<li>we need a sematic content publishing system so chunks of content can be combined as appropriate for each particular platform
<ul>
<li>content templates encourage reusable chunks content, but that doesn't make it into the CMS</li>
</ul>
</li>
<li>break apart content from its appearance on the page</li>
<li>people will write better content if they have better tools that fit their workflow, mental models, and metadata needs: "content management is the enterprise software that UX forgot"
<ul>
<li>if you are in the business of producing content, the content management workflow is just as important as the ecommerce workflow, but people don't have metrics for it, they just assume the content writers will learn to deal with it</li>
</ul>
</li>
<li>need to take content management workflow usability and fitness to your content writers' needs into account when choosing a CMS, not just requirements like security and support: this is not a luxury, it's a requirement for adaptive content</li>
</ul>
</li>
<li>demystify metadata to content writers
<ul>
<li>use metadata to programatically build pages: you are not an editor crafting every pixel on the page, give up the control that you think you have--but you get control back, too, by using metadata to show this content for this reason on this platform
<ul>
<li>metadata is the new art direction (Ethan Resnick)</li>
</ul>
</li>
<li>use metadata to help prioritise content
<ul>
<li>How do you take content from the desktop site and put on mobile, where do things fit in overall hierarchy of page</li>
<li>Case study: The Boston Globe uses it to rank story importance and make sure their "top story" is interesting, not just the most recently published</li>
<li>Designers were already doing this work, but it was getting lost with redesigns and context changes. Metadata stays with the content.</li>
</ul>
</li>
<li>use metadata to personalize content based on what you know about user--people have been talking about this for 15 years, and the database part is easy but we need to actually write that metadata to be able to do it</li>
<li>use mobile as a catalyst to get all of these benefits: "the more structure you put into content the freer it will become" (Rachel Lovinger)</li>
</ul>
</li>
</ul>
<h2>Key take-home points for me:</h2>
<p>Create packages of content including content chunks like title, short blurb, longer blurb, full text, image, and other metadata that lets you pick and choose what you want to display across different devices and different designs. We can use the metadata for other things too, like generating personalized pages full of content of interest to a specific user. Mobile is a wedge to get that to happen, but we need better tools too, the CMS workflow as it stands is not good enough.</p>
