---
title: ! 'IA Summit 2012 Notes: Rhythm and Flow'
category: Conference Notes
tags:
- IAS12
- Design Process
comments:
- id: 9333
  author: pardeep
  author_email: pk@likeourselves.com
  author_url: ''
  date: !binary |-
    MjAxMi0wNS0zMSAxMzo0NToxNSAtMDQwMA==
  date_gmt: !binary |-
    MjAxMi0wNS0zMSAyMDo0NToxNSAtMDQwMA==
  content: thanks for the write up and i agree, wireframes don't yet allow a way of
    developing that emotional interaction which underlines rhythm and flow.
---
<p><em>This is part of a series of notes from the Information Architecture Summit from 2012. All posts will be tagged <%= link_to "IAS12", tag_path("IAS12") %>. This talk was presented by Peter Stahl (<a href="https://twitter.com/#!/pstahl">@pstahl</a> on Twitter). A reduced version of the slides is available on <a href="http://speakerdeck.com/u/pstahl/p/rhythm-and-flow">Speaker Deck</a>.</em></p>
<ul>
<li>Tools and processes for static screens came out of print media and architecture, but user experiences do not sit still anymore. We need to adopt vocabulary and methods that support desiging experiences over time.</li>
<li>Interactive rhythm--interactions with the object form a particular repetitive pattern, e.g. drums, channel surfing, driving especially with a manual transmission (accellerate and stop), forms (enter a field, fill it in, repeat), youtube (get to end of a video, watch a new one), etc.
<ul>
<li>what makes rhythm
<ul>
<li>simple enough to repeat</li>
<li>repeatable</li>
<li>steady tempo (relatively)</li>
<li>reason to continue</li>
</ul>
</li>
<li>when is rhythm appropriate
<ul>
<li>one job with repetition, no errors &amp; exceptions (or quickly and easily recoverable)</li>
<li>interrupt to make users think--can be hard to get out of rhythm</li>
</ul>
</li>
<li>some tasks don't have rhythm
<ul>
<li>photoshop can have rhythm, but mostly doesn't--not repeating tasks</li>
<li>turbotax--it could have the form rhythm, but it is missing steadiness: some items can be recalled quickly, others take a lot of time to collect</li>
</ul>
</li>
</ul>
</li>
<li>Flow: state in which people are so involved in a task that nothing else matters, people continue for the sake of the activity itself, and every action follows naturally from the previous action
<ul>
<li>dimensions of flow
<ul>
<li>goals and progress tracking (feedback)</li>
<li>balance of challenge and skill</li>
<li>sense of control</li>
<li>focused concentration</li>
<li>loss of selfconsciousness, becoming wone with activity</li>
<li>time distortion</li>
<li>self-rewarding experience</li>
</ul>
</li>
<li>web design is frequently missing flow
<ul>
<li>Assumes visitor knows goals, but people hope to be led somewhere. You need to remove distractions.</li>
<li>Missing feedback, the site doesn't tell you (or care) if you're progressing toward a goal (exceptions: LinkedIn profile progress, Mint progress, well designed wizards)</li>
<li>Missing the balance of challenge and skill</li>
<li>Lacks hierarchical goals that build on each other</li>
</ul>
</li>
</ul>
</li>
<li>Motivic rhythm: animations in response to a user action, e.g. timing of a popup to open after hover, speed of an animation of a page change or window opening</li>
<li>Artifacts and deliverables
<ul>
<li>Wireframe inherit from architectural diagrams. You must know the language of wireframes to understand what they represent and what it will be like to move through them. They do not (readily) convey action.</li>
<li>Wireframes show the computer part of computer-human interaction, but flow happens in the human part. How can we induce flow in people if we leave them out of our designs?
<ul>
<li>Can show pictures or comics (or storyboards) of person using site, e.g. ux testing videos often include video of user using site (eg. silverback vids)--include sketch of users using site with wireframe, can help interpret whether actual user reaction are on target with intended reaction</li>
</ul>
</li>
<li>Movies use storyboards with the timing indicated</li>
<li>Games use animatics: rough cuts or sketches that have been animated at 2-3 a second, used to get timing right for interaction or to hand to composer for background score</li>
<li>Dance uses movement notation, for instance lines on a musical staff representing body parts and direction</li>
<li>"Protocasting": comic book of scenario with video walkthrough</li>
<li>Choose different artifacts for different parts of the design process, e.g. video to convey the overall experience vs something more detailed like a table of animation timings to hand to the engineers</li>
</ul>
</li>
<li>tools
<ul>
<li>adobe director</li>
<li>flash (easier to get started)</li>
<li>expression blend</li>
<li>axure RP</li>
<li>keynote/powerpoint</li>
</ul>
</li>
</ul>
<h2>Key take-home points for me:</h2>
<p>User interactions with a site and site animations have rhythm, but that can't be conveyed with wireframes. I should consider some other method of conveying animation or timing (for instance animatics or storyboards) and the user's emotional response to those actions in my next design.</p>
