---
title: Alternative voices for NVDA!
category: Accessibility
tags:
- Screen Readers
comments: []
---
<p>If you're using NVDA to test your website accessibility (which you should! (Note to self: actually do that on this blog...)), you may be as pleased as I am to discover that <a href="http://www.nvda-project.org/wiki/FreeSpeechSynthesizerList">there are some alternative voices</a> you can use in place of the default synthesizer.</p>
<p>I had been using Microsoft Anna with the Microsoft Speech API v 5 (I believe this is also called SAPI5), but, while I find it less painful than the default voice synthesizer, it's not very good. I'm trying out the Microsoft Speech platform, available starting with NVDA 2011.3, which has a number of voices available.</p>
<blockquote><p>Starting with NVDA version 2011.3, the Microsoft Speech Platform is now supported by NVDA. You will first need to install the <a href="http://www.microsoft.com/downloads/info.aspx?na=41&amp;srcfamilyid=4cd143dd-ac6b-4d16-a670-3dfb92edf6d4&amp;srcdisplaylang=en&amp;u=http%3a%2f%2fdownload.microsoft.com%2fdownload%2fA%2f6%2f4%2fA64012D6-D56F-4E58-85E3-531E56ABC0E6%2fx86_SpeechPlatformRuntime%2fSpeechPlatformRuntime.msi">Speech Platform Runtime</a>. Then you may browse the <a href="http://www.microsoft.com/download/en/details.aspx?id=27224"> redistributable language packs</a> for the specific voices for the languages you prefer. Some voices are low quality, so you may have to hunt around for the good ones. These are voices which are by default available in Windows 8. Be careful though not to install the MSSpeech_SR MSI files, as those are not voices. Those are for speech recognition. Keep looking down the list and you'll come to the MSSpeech_TTS MSI files for the individual voices, those are what you'll need.</p></blockquote>
<p>I like the "ZiraPro" U.S. English voice, and the British one seems nice too. To enable the new voice:</p>
<ul>
<li>Install the speech platform and the the voice pack</li>
<li>Start NVDA and go to the NVDA menu (Ins + N) -&gt; Preferences -&gt; Synthesizer and change the Synthesizer to "Microsoft Speech Platform"</li>
<li>Go to the menu again, Preferences -&gt;Voice Settings and pick a voice</li>
</ul>
<p>There! So much more pleasant and comprehensible!</p>
