---
title: ! 'IA Summit 2012 Notes: Empower yourself. Negotiate for the user.'
category: Conference Notes
tags:
- IAS12
- Design Process
comments: []
---
<p><em>This is part of a series of notes from the Information Architecture Summit from 2012. All posts will be tagged <%= link_to "IAS12", tag_path("IAS12") %>. This talk was presented by Carol Smith (<a href="https://twitter.com/#!/carologic">@carologic</a> on Twitter). The slides are available on <a href="http://www.slideshare.net/carologic/empower-yourself-negotiate-for-the-user">Slideshare</a>.</em></p>
<ul>
<li>Even if you have the best design you won't get a good user experience if you can't negotiate and get it to happen</li>
<li>You need need confidence in negotiation, and the best way to get it is to have a Best Alternative To Negotiation Agreement (BATNA): knowing what your course of action will be if negotiation fails (not the same as a walk-away point) gives you
<ul>
<li>a standard to measure negotiated options against and determine if you have something better than no negotiation at all</li>
<li>freedom to pursue more creative solutions (because you have that standard to compare against)</li>
</ul>
</li>
<li>Make sure you ask for more, and don't accept the first offer</li>
<li>The better your BATNA the greater your power. You don't have to disclose it, especially if yours is weak.</li>
<li>Preparation for negotiation
<ul>
<li>Who are you dealing with and what is important to them?</li>
<li>What are their preferred negotiation strategies?</li>
</ul>
</li>
<li>Separate people from the problem
<ul>
<li>Match culture to minimize misunderstandings (clothing, attitude)</li>
<li>Not about the people in the room--minimize emotions (positive or negative)</li>
</ul>
</li>
<li>Compromise is the goal of negotiation, you want to come up with the best solution for everyone. Focus on your shared interest:
<ul>
<li>Use "we", not "you" or "me"</li>
<li>Work toward mutual gain within constraints: cost, time, resources/people, level of insights, etc.</li>
</ul>
</li>
<li>Use objective criteria and standards like web analytics, surveys, internal measurements over time. Have the analysis beforehand or offer to go gather it as part of the negotiation.</li>
<li>Resources
<ul>
<li><a href="http://www.amazon.com/Measuring-User-Experience-Interactive-Technologies/dp/0123735580">Measuring the User Experience</a> by Thomas Tullis and William Albert</li>
<li><a href="http://www.amazon.com/Getting-Yes-Negotiating-Agreement-Without/dp/0140157352">Getting to YES: Negotiating Agreement Without Giving In</a> by Roger Fisher and William Ury</li>
<li><a href="http://www.amazon.com/Its-Our-Research-Stakeholder-Buy/dp/0123851300">It's Our Research: Getting Stakeholder Buy-in for User Experience Research Projects</a> by Tomer Sharon</li>
</ul>
</li>
<li>Audience question: her boss's BATNA is "I said to do it so do it." Speaker says "I always say that when people actually see usability tests it turns their world upside-down"--make advocates in your organization, maybe in your own time (e.g. organize brown-bags and other events)</li>
</ul>
<h2>Key take-home points for me:</h2>
<p>Having a clear picture of what I will do if negotiation completely fails sounds like a great idea and is something I should remember to do. And I should really read that Getting to YES book.</p>
