---
title: ! 'IA Summit 2012 Notes: Applying value-sensitive design to user engagement'
category: Conference Notes
tags:
- IAS12
- Design Process
comments: []
---
<p><em>This is part of a series of notes from the Information Architecture Summit from 2012. All posts will be tagged <%= link_to "IAS12", tag_path("IAS12") %>. This talk was presented by Katey Deeny (<a href="https://twitter.com/#!/followsprocess">@followsprocess</a> on Twitter). Slides are available on <a href="http://www.slideshare.net/kateydeeny/applying-value-sensitive-design-principles-to-user-engagement">Slideshare</a>.</em></p>
<ul>
<li>See <a href="http://vsdesign.org/">vsdesign.org</a> for more on value-sensitive design</li>
<li>Value-sensitive design is not applied a lot in corporate or business environment, though it has been for non-profits and academia</li>
<li>If we know what the values of intended audience are, we have a greater chance of engaging them in meaningful ways</li>
<li>Different groups of people value different things--have to balance</li>
<li>Values can change depending on what context you're thinking about it in (e.g. you may prioritise your values differently at work vs. at home)</li>
<li>Recognizing tensions between values helps surface potential problems, informs design startegy</li>
<li>Example: SXSW homeless hotspots (www.homelesshotspots.org)
<ul>
<li>big objection: turns human beings into pieces of infrastructure</li>
<li>how to design in a way that would be less controversial?</li>
</ul>
</li>
<li>Method
<ul>
<li>Identify value, tech, context of use</li>
<li>Identify direct and indirect stakeholders (good to surface a lot of indirect stakeholders and then narrow down to the most important ones)</li>
<li>Identify benefits and hirms of stakeholders</li>
<li>Map benefits and harms onto values</li>
<li>Identify potential value conflics (in the example below she shows listing them all out and finding pairs that conflict)</li>
<li>Integrate value considerations into your design work--you may have to privilege some stakeholders before others, may not be able to reconcile all of the values, but identifying and examining them can still help you understand what you're doing and even help you do it</li>
</ul>
</li>
<li>SXSW case study
<ul>
<li>value: empowerment</li>
<li>tech: wireless access</li>
<li>context of use: homelessness and SXSW (two very different contexts)</li>
<li>direct stakeholders: homeless, conference attendees, homeless shelter, ad agency that created it</li>
<li>indirect stakeholders: wireless provider, Austin community, conference organizers, nearby business owners with competing wifi, homeless people in general, advocacy groups</li>
<li>benefits and harms
<ul>
<li>homeless participants:
<ul>
<li>benefit: working with the public for 4 days -&gt; values: engagement, earning, humanization</li>
<li>harm: no ongoing support -&gt; values: stability</li>
</ul>
</li>
<li>SXSW attendees:
<ul>
<li>benefit: wifi -&gt; convenience, access</li>
<li>harm: discomfort dealing with a social problem -&gt; respect, comfort</li>
</ul>
</li>
<li>shelter:
<ul>
<li>benefit: helps tenents earn money for residents -&gt; empowerment, philanthropy</li>
<li>harm: but no infrastructure to continue the program -&gt; maintainability</li>
</ul>
</li>
<li>ad agency:
<ul>
<li>benefit: publicity -&gt; fame</li>
<li>harm: criticism -&gt; notoriety</li>
</ul>
</li>
<li>autin community:
<ul>
<li>benefit: positive interactions with the homeless -&gt; empathy, change</li>
<li>harm: negative attention about the problem -&gt; status quo</li>
</ul>
</li>
<li>homeless community:
<ul>
<li>benefit: creates awareness -&gt; hope</li>
<li>harm: does not create sustainable change -&gt; sustainability</li>
</ul>
</li>
<li>advocacy groups:
<ul>
<li>benefit: could inspire new programs -&gt; innovation</li>
<li>harm: highlights the complexity of the problem (can't just do a cool thing for 4 days and expect the problem to be fixed) -&gt; encouragement</li>
</ul>
</li>
<li>wireless carrier:
<ul>
<li>benefit: brand equity -&gt; recognition</li>
<li>harm: negative brand association (especially if it flops) -&gt; reputation</li>
</ul>
</li>
</ul>
</li>
<li>list all values together and find value conflicts, e.g. humanization and notoriety, then integrate into design work</li>
</ul>
</li>
</ul>
<h2>Key take-home Points for me:</h2>
<p>I hadn't really heard anything about value-sensitive design, so this is basically an all-new method for me. It can be tricky balancing different stakeholder interests, this method seems like it might help. It also seems like this process should be part of creating anything you want people to really have an emotional connection to. I will have to try it out.</p>
