---
title: Remote testing tool feature and price comparison
category: Usability Testing
tags:
- Usability Testing
comments: []
---
<p>As <a href="<%= post_url('IA Summit 2012 Notes: Crowdsourced Remote Unmoderated Usability Testing') %>">previously mentioned</a>, I've been wanting to start doing remote testing, so I put together this table on features offered by the various tools that are out there. I figured it might be handy for others, too, so here you go. I haven't used any of them except for Userlytics (which I do like), so these aren't endorsements, just things I've found.</p>
<p>All of these tools are focused on testing mockups and live sites, which is what I'm most interested in right now.</p>
<table>
<thead>
<tr>
<th></th>
<th>static or live*</th>
<th>what's tested</th>
<th>what you get</th>
<th>cost</th>
<th>recruits</th>
</tr>
</thead>
<tbody>
<tr>
<th><a href="http://usabilityhub.com/">Usability Hub</a></th>
<td>static (but can do a sequence of mockups with navflow test)</td>
<td>you can ask questions about first impressions, see where people click in response to a question, or ask people to complete a task.</td>
<td>short responses to comments, click heat maps, or heat maps and funnel success rates</td>
<td>free if you do tests, subscriptions start at $20/month for 100 testers/month</td>
<td>yes (other designers), or recruit your own (which doesn't use up monthly tester budget)</td>
</tr>
<tr>
<th><a href="http://usabilla.com/">Usabilla</a></th>
<td>static</td>
<td>you can ask people to click on things and optionally add comments</td>
<td>click heatmaps with participant annotations</td>
<td>subscriptions start at $19/month for 20 participants, 30 day trial</td>
<td>no</td>
</tr>
<tr>
<th><a href="http://www.optimalworkshop.com/chalkmark.htm">Chalkmark</a></th>
<td>static (but can do a sequence of mockups)</td>
<td>static mockups; you can ask people where they would click in the mockup to do some tasks, and putting several in order would let you test a whole series of actions</td>
<td>click heatmaps and completion time</td>
<td>10 participants and 3 tasks per test for free, unlimited for $109/month</td>
<td>no</td>
</tr>
<tr>
<th><a href="http://www.trymyui.com/">TryMyUI</a></th>
<td>live</td>
<td>participants try to complete tasks with the site and answer questions</td>
<td>video of participant's screen with think-aloud audio and written answers to questions</td>
<td>$35/test</td>
<td>yes, with requested demographics</td>
</tr>
<tr>
<th><a href="http://www.feedbackarmy.com/">Feedback Army</a></th>
<td>live or mockup visible at a url</td>
<td>participants answer questions about the site, which might require them to complete tasks or just play with the site</td>
<td>text responses to questions</td>
<td>starts at $20 for 10 participants</td>
<td>yes, all participants are from mechanical turk</td>
</tr>
<tr>
<th><a href="http://www.youeye.com/">YouEye</a></th>
<td>live</td>
<td>participants try to complete tasks with the site</td>
<td>video of participant and participant's screen with think-aloud audio</td>
<td>3 videos/month for free, 25 videos/month for $49/month</td>
<td>yes, but maybe not with custom demographics. $19 each with free plan, $9 each with subscription, or you can recruit your own for no extra cost</td>
</tr>
<tr>
<th><a href="http://www.userlytics.com/">Userlytics</a></th>
<td>live or static</td>
<td>participants try to complete tasks with the site and answer questions</td>
<td>video of participant and participant's screen with think-aloud audio and annotations and transcriptions of key moments</td>
<td>$59/participant with a 5 participant minimum</td>
<td>yes, with requested demographics (some demographic requests may require custom price quotes)</td>
</tr>
<tr>
<th><a href="http://www.loop11.com/">Loop 11</a></th>
<td>live</td>
<td>participants try to complete tasks with the site and push a button when they're done or answer questions</td>
<td>video of participant's screen, aggregated completion rates, time on task, and other stats</td>
<td>$350 per project or annual subscription for $1900 (for a non-profit, medium business and large business are higher)</td>
<td>no</td>
</tr>
<tr>
<th><a href="http://www.openhallway.com/">OpenHallway</a></th>
<td>live</td>
<td>participants try to complete tasks with the site</td>
<td>video of the participant's screen with think-aloud audio</td>
<td>$19/month (but you can get 3 participants for 10 minutes each for free to try it out)</td>
<td>no</td>
</tr>
<tr>
<th><a href="http://www.userzoom.com">UserZoom</a></th>
<td>live and static (they have click testing, timeout testing, and full site testing)</td>
<td>participants click, answer questions, or complete tasks on a site</td>
<td>heatmaps, clickstream charts, task completion rates, word clouds</td>
<td>Subscriptions start at $1000/month or $9000/year, but you need to go up to the next level to get click testing and timeout testing and other tools. Basic plan includes live testing, surveys, and cardsort, others include everything but the kitchen sink</td>
<td>yes, they integrate with marketing panels (may be additional cost?)</td>
</tr>
<tr>
<th><a href="http://www.google.com/websiteoptimizer">Google Website Optimizer</a></th>
<td>live</td>
<td>automates A/B tests for you on your live website</td>
<td>goal completion stats based on cohort, presumably integrated with Google Analytics</td>
<td>free</td>
<td>N/A, it's your existing users</td>
</tr>
</tbody>
</table>
<p>*Note that everything marked "live" except for Google Website Optimizer can probably also be used for interactive wireframes and prototypes available at a public url, for instance something created with <a href="http://www.invisionapp.com/">Invision</a>.</p>
<p>In making this list I also ran across a few other tools, but I didn't look at them in the same depth:</p>
<ul>
<li><a href="http://ethn.io/">Ethnio</a>: recruits participants for use in a remote test while they are browsing your site</li>
<li><a href="http://www.optimalworkshop.com/optimalsort.htm">OptimalSort</a> and <a href="http://www.userpoint.fi/tools/card_sort_cluster_analysis_tool/">Cart sort analysis tool</a>: open card sorting</li>
<li><a href="http://www.optimalworkshop.com/treejack.htm">Treejack</a>: Information Architecture validation</li>
<li><a href="http://www.userzoom.com">UserZoom</a>: card sorting, IA validation, and surveys as well as screenshot and live site testing</li>
<li><a href="http://uxpunk.com/websort/">WebSort</a>: card sorting</li>
<li><a href="http://uxpunk.com/plainframe/">PlainFrame</a>: IA validation</li>
</ul>
<p>If you've used any of the tools above, I'd love to hear about your experiences! Likewise, if you have corrections or additions, I'd love to get those too :)</p>
