---
title: Mood Boards with Pinterest
category: Visual Design
tags:
- Design Process
comments: []
---
<p>I may be a bit late to the party, but I just joined <a href="http://pinterest.com/">Pinterest</a>. Mostly it seems to be used for crafts, recipes, interior design, and fashion, and my friends that enjoy those things have been on it for a while (beating my early adopter techy friends at early adoption). After playing with it a bit, I realized that it might also be good for <a href="http://www.webdesignerdepot.com/2008/12/why-mood-boards-matter/">mood boards</a>, which are something I've been wanting to try but haven't had a new, from-scratch project to try them on.</p>
<p>Mood boards let you pull together design elements that match a particular theme ("shiny and slick", "old fashioned type and paper", etc.) to help agree on what the theme for a site should be. Pulling similar things that you like together is exactly what pinboard is good for--you can "pin" new design elements that you find on a site, add a new picture, or repin from Pinterest's very nicely browseable interface. I could imagine having clients create a collage mood board with Pinterest, especially using the repinning feature, to pull together elements that match what's in their heads, and then working with them to create a more structured mood board based on the elements they find.</p>
