---
title: ! 'IA Summit 2012 Notes: A Different Grid: Multi-Channel Service Design, the
  African Way'
category: Conference Notes
tags:
- IAS12
- Cross-Channel Experiences
- Design Process
comments: []
---
<p><em>This is part of a series of notes from the Information Architecture Summit from 2012. All posts will be tagged <%= link_to "IAS12", tag_path("IAS12") %>. This talk was presented by Franco Papeschi (<a href="https://twitter.com/#!/bobbywatson">@bobbywatson</a> on Twitter). Slides are available on <a href="http://www.slideshare.net/bobbywatson/a-different-grid-multichannel-service-design-the-african-way">Slideshare</a>.<br />
</em></p>
<ul>
<li>GDP growth in sub-saharan africa has been much more positive than US or Europe in the past 5 years, majority of population is becoming middle class: there is a technological and cultural renaissance in Africa, but it's different than the technological revolution in the US and Europe
<ul>
<li>Prevalence of mobile phone 53%, vs 1.4% with landlines, or 12.8% with internet</li>
<li>5% of phones are smartphones, 25% feature phones, the reast dumb phones that were popular in the US and Europe 8-9 years ago: "dumbphones for smart people"</li>
<li>Phone number is a proxy for identity: used to label owned items, can call the number and ask to use it</li>
<li>People and workplaces are very mobile, e.g. photographer with no shop: he has a motorcycle, a portable printer, and a camera</li>
<li>Radio is a key channel in rural regions: low-density population, strong oral tradition, great way to share information among themselves. Community radios (for farmers, by farmers) used to discuss local topics</li>
</ul>
</li>
<li>Can't really talk about Africa as a whole, really big place. One key differentiation is 6 different large language groups, 2000-3000 different languages Secondary (colonial) langauges are used to communicate across communities.</li>
<li>63% adult literacy rate, but higher in young people. Formal reading and writing not necessarily functionaly literate, people lose it if they don't practice it.</li>
<li>Some example services and applications that people are building
<ul>
<li>Ushahidi: developed after protests and violence of 2007 Kenyan election shut down parts of Nairobi and made it hard to know what parts of the city were safe. People report things to Ushahidi, which puts it on a map. Has also been used after Haiti earthquake, Japanese tsunami</li>
<li>iCow: helps farmers keep track of the fertility and health of their cattle, gives information and tips on how to make cows healthier, and makes it easier for farmers to keep their cows healthy when there isn't easy access to a vet</li>
<li>Taxirank: allows citizens of Capetown to compare quality, price, etc. of different taxi companies</li>
<li>M-Pesa: only 20% of the African population has a bank account (banks consider them unprofitable because there's little money and they transfer too often), so people have to physically travel to lend or borrow money. M-Pesa puts it on a simcard and makes it easy to transfer or pay at the supermarket without carrying money around. Has mvoed 1.8 billion dollars, 5% of the GDP of Kenya.</li>
<li>Esoko, a market information service (like Bloomberg for farmers in Kenya)
<ul>
<li>60% of people working in Africa work in agriculture: many farmers are mostly personal consumption with some to sell to gain money and grow their business. They have to decide what market to go to to sell their goods, but they don't know where they will be able to get the best price that day.</li>
<li>Esoko employs agents to gather prices of different commodities across different markets and keeps records of trends over time so you know if you should sell all of it now or wait</li>
<li>Many groups with different needs and different communication channels
<ul>
<li>buyers use phones and newspapers</li>
<li>farmers have phones and newspapers and word of mouth</li>
<li>big farmers (communities of farmers) use the internet and smartphones</li>
<li>traders (who buy and sell at the market) have phones, smartphones, internet, word of mouth, but newspaper wasn't fast enough; traders need to see trends, find ways to manage your stock and flow, and manage the relationship with their customers</li>
<li>Esoko agents have smartphones, internet, word of mouth</li>
</ul>
</li>
<li>They started as a service but became a platform with many modular features (prices, maps, trends, CRM...) that vary depending on context (with technology apparently used as a proxy to guess at the user group's needs)</li>
<li>Esoko's agents gather information, but are also delivering information face-to-face, that became one of their main touchpoints so they provided agent with more tools to track their informal conversations--not just phones, smartphones, internet, etc., their human infrastructure became and additional word-of-mouth channel</li>
<li>They test new features in each channel, try to see what is the impact on other channels when feature is added in one</li>
</ul>
</li>
<li>Radio Marché: community radio in Northern Africa, solves the same problem as Esoko but for a mostly non-literate, tightly knit community with a strong oral tradition
<ul>
<li>Ethnographic studies and "technology probes" (give tech to people and see how they use it) showed that people had trouble trusting new technology that wasn't tied into existing habits and that most people don't seek out information (as with Esoko) but would rather receive it from people who are broadcasting it</li>
<li>A farmer gives price over the phone to an automated service, which automatically converts it to text and aggregates with other prices. Prices are turned back into synthesized speech and broadcast to local community radio and made available at a phone number. Each community radio has a different text-to-speech voice, and the uniqueness creates trust.</li>
<li>Shows that SMS is not necessary, can just use audio and web (however, a deaf audience member points out that it may be better to combine channels, speaker says yes, not advocating discarding channels, but perhaps necessary to move toward multi-sensorial as well as multi-channel)</li>
<li>Prioritizes community and how community works and behaves over technology</li>
</ul>
</li>
</ul>
</li>
<li>Ask yourself
<ul>
<li>what channels are likely to expand or shrink the size of the audience, relationship of audience and channels</li>
<li>can you divide your service in "small doses" that are flat, combinable that allow you to become almost like a platform</li>
<li>how do you facilitate contribution and remove friction: collect information vs allow farmers to shout information</li>
<li>how do you increase trust in the servce</li>
<li>what is the consequence of your workflow on your design? Esoko agents as internal mechanism become touchpoint</li>
<li>how does your channel strategy change your business model? Esoko vs radio = different business model, costs, activities</li>
</ul>
</li>
<li>Tech shapes culture, culture shapes technology: need to foster both directions, see how tech is changed by culture</li>
</ul>
<h2>Key take-home points for me:</h2>
<p>I loved hearing about familiar techniques solving very different problems and even solving the same problem in two different parts of Africa very differently based on cultural context. It's a strong reminder to research existing practices and keep them in mind when introducing something new to make sure that it's accepted. I also loved the point about the Esoko agents changing from being necessary infrastructure to a key touchpoint&emdash;another reminder to pay attention to what people are doing after a solution is introduced and evolve with evolving practices!</p>
