---
title: ! 'IA Summit 2012 Notes: Making Business Human: Delivering Great Experiences
  in a Connected Age'
category: Conference Notes
tags:
- IAS12
- Design Process
comments: []
---
<p><em>This is part of a series of notes from the Information Architecture Summit from 2012. All posts will be tagged <%= link_to "IAS12", tag_path("IAS12") %>. This talk was presented by Peter Merholz (<a href="https://twitter.com/#!/peterme">@peterme</a> on Twitter). Slides are available on <a href="http://www.slideshare.net/peterme/making-business-human-delivering-great-experiences-in-a-connected-age">Slideshare</a>.</em></p>
<ul>
<li>"Closing the delivery gap"--90% of polled firms thought they were customer focused, but only 8% of their customers agreed</li>
<li>Forrester's 2012 Custemer Experience Index showed that more than half of experience are not good--Why? tech is more immediate, accessible, distributed, people are surrounded by better design</li>
<li>Design processes and methods are mature, not seeing rapid methodological change like we did before</li>
<li>Org chart is perceived as just how things are done, but it was originally invented to help a railroad company manage vast network of rail lines. Good for supporting mass manufacturing, replaces independent thinking.
<ul>
<li>The org chart has become the operating system of a lot of companies and applied (inappropriately?) to office work: the cube farm is an org chart made manifest. Max Weber: "The 'iron cage' of bureaucracy"</li>
<li>Good for industrial/information age--products, manufacturing, efficiency, ownership, silos, isolation</li>
<li>Not good for connected age--services, customer experience, access, flow of information instead of goods</li>
</ul>
</li>
<li>The connected age: the complexification of CPUs (from the information age) + connectedness of internet = chaos and unpredictability
<ul>
<li>People are really good at dealing with chaos and unpredictability if given the license to do so, bureaucracies (and pre-determined rules) are not (e.g. southwest airlines saying that they can't anticipate all problems and giving the employees the license to deal with things under their own initiative)</li>
</ul>
</li>
<li>Relationships (a key part of the connected age) are built on trust
<ul>
<li>2011 Temkin Trust Ratings, 2012 Temkin Experience Ratings (highly correltated with trust rankings)</li>
<li>Customers are willing to trust companies where management is willing to trust the staff
<ul>
<li>Southwest vs. any other airline has very humanistic culture, gives staff flexibility because they can't anticipate all problems in advance--gives employees lattitude to act in favor of customers, lets customers trust company</li>
<li>Nordstrom's one rule "Use good judgement in all situations"</li>
<li>Trust makes it possible to scale empathy, strict rules with no leeway for employee judgement do not</li>
</ul>
</li>
<li>How to widen circle of trust? trust the customer
<ul>
<li>USAA bank highest customer experience ranking in the country--they were the first bank to do mobile check deposit, which made fraud more likely but they were willing to do that because they were willing to trust their customers more than anyone else.
<ul>
<li>Trusting their customers to do the right thing unlocked new opportunities, the customer and the business both win</li>
</ul>
</li>
<li>Collaborative consumption movement started with craigslist, built on the belief that humans are fundamentally good. Also ZipCar, Couch Surfing, AirBnB</li>
<li>Panera's "pay what you can" cafes--they put up the prices that it would cost, on average they get 80%. Most people pay full price, some can't, some won't, and some overpay</li>
</ul>
</li>
</ul>
</li>
<li>Trust isn't sufficient: Netflix puts a lot of trust in their employees, but their pricing changes blew up on them.
<ul>
<li>They didn't realize that any relationship, even a business relationship, has an emotional component. Changes made people angry. Services are an ongoing relationship and emotions are especially important.</li>
<li>The decline in their stock price is the value of empathy</li>
</ul>
</li>
<li>Design thinking: almost everything valuable about design thinking is actually stuff you do in kindergarten
<ul>
<li>Expressing visually and tactilely (drawing and sketching)</li>
<li>All contrubutors equal</li>
<li>Kinesthetic engagement (cube farm mentality harms ability to create, ought to be creating and working and behaving with whole bodies)</li>
<li>TED talk: the marshmallow challenge (build a structure with some specific items): kindergarteners do better than business school grads because they aren't jockying for power and they create successive prototypes instead of trying to figure out teh best structure beforehand</li>
<li>Letting kids be kids is actually letting people be people, and the connected age requires business to embrace what makes us human. Side note: don't let Facilities dept. get in the way, have to work around them to get a more kindergarten-like experiences in the workplace.</li>
</ul>
</li>
<li>How can you make your organizations more human: be more social, playful, respectful, emotional, interdependent, sensorial, creative, trusting, physical</li>
</ul>
<h2>Key take-home points for me:</h2>
<p>I liked the examples of Southwest and Nordstrom. It's something I already knew from my own community management and customer service work, but it's good to hear the reminder every now and then. It's an argument I anticipate having soon, too (right after I convince them that yes, they really do need moderation...).</p>
<p>I also liked the point that the drop in Netflix's stock was the value of empathy, I hadn't thought about that before. I'm already on board with the need to understand and empathise with my users, of course, but you don't often get such a dramatic demonstration of the monetary value. Perhaps <a href="<%= post_url('IA Summit 2012 Notes: Applying value-sensitive design to user engagement') %>">value sensitive design</a> would be useful in making sure this doesn't happen?</p>
