---
title: ! 'IA Summit 2012 Notes: Beyond Channels: Context is King'
category: Conference Notes
tags:
- IAS12
- Cross-Channel Experiences
comments: []
---
<p><em>This is part of a series of notes from the Information Architecture Summit from 2012. All posts will be tagged <%= link_to "IAS12", tag_path("IAS12") %>. This talk was presented by Emily Wengert (<a href="https://twitter.com/#!/wallowmuddy">@wallowmuddy</a> on Twitter).</em></p>
<ul>
<li>2002 had simple world--intranets and websites. Since then have added phones, tablets, devices in cars, stores, augmented reality--just 10 years later: "I think we're all in trouble. I don't think we can keep up with this much longer."</li>
<li>How we approach new channels now (slow ramp-up to understanding the channel)
<ul>
<li>first understand the physical constraints (e.g. screen size)</li>
<li>then try to add the user again, try to align it with something we already know and oversimplify ("mobile is on-the-go!")--see Josh Clark's mobile myths
<ul>
<li>Myth: mobile is just used when people are on the go. "I think we got confused by the word 'mobile'" Maybe was initially was true but not anymore.
<ul>
<li>Better: mobile is the lazy man's computer. People just reach for the device in their pocket, hope they can finish the task there. 89% at home, 86% watching tv at the same time.</li>
</ul>
</li>
<li>Myth: people want less on their mobile phone than on their desktop.
<ul>
<li>Better: shift priorities, don't remove features.</li>
</ul>
</li>
<li>Myth: tablets are just an oversized mobile device or a simpler PC
<ul>
<li>Better: tablets are a content consumption juggenaut. They have created new behaviors, people will spend more time with tablet than on other devices</li>
<li>Tablet is replacing paper more than it is replacing other channels</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li>We stop thinking about channel and start thinking about context: for instance, in coffee shop cream and sugar sit side by side, but they aren't next to each other in a dictionary or in a grocery store</li>
<li>Some example contexts
<ul>
<li>Place
<ul>
<li>Starbucks sign in airport: steam points to starbucks location. Someone had to know where the sign would be located. Print (generally) knows how to use location better than digital does.</li>
<li>iPad "augmenting" a department store is worse and slower than just walking around the store. Instead of adding to the store experience it is trying to merely duplicate it, but the users are already having the store experience and the device doesn't do it as well as the original. It could be telling people where items are, if they're in stock, if they could get an item in another location, but it's just the at-home iPad app that doesn't even know the person is in the store.</li>
<li>Think about:
<ul>
<li>Where is the user?</li>
<li>What goals do they have there?</li>
<li>Why are they accessing digital in that place?</li>
<li>What other (digital or non-digital) channels are around them?</li>
</ul>
</li>
<li>Example: store planning vs visit
<ul>
<li>are they in my store or not?</li>
<li>store planning is making a list, finding store, research product, inspiration, inventory check...</li>
<li>store visit is checking off list, wayfinding, quick decision making (price, ratings, but not researching lots of items), price lookup, additional sizes and colors</li>
<li>change features you want to bring to forefront based on where the user is and what their priorities are at that location</li>
</ul>
</li>
</ul>
</li>
<li>Mindset
<ul>
<li>Pandora: set station and walk away</li>
<li>Turntable: more social than Pandora, dj wants to show off and get points</li>
<li>Pinterest: "I want to be endlessly entertained"</li>
<li>Baby registry: fear of making bad decision that would kill their kid--if you only think of as a place to add products miss opportunity to add reassurance, comparative studies, etc. that addresses the fear and uncertainty of having a child</li>
<li>Think about
<ul>
<li>what state of mind will my user most likely be in?</li>
<li>How might that affect their success in what I'm desigining?</li>
</ul>
</li>
</ul>
</li>
<li>Social
<ul>
<li>subset of mindset in many ways</li>
<li>Wedding registry: "I don't want to be judged" for having registry at all or for high price points, picture what each group of people are going to want to give--very different from the baby registries</li>
<li>Public kiosk: people worried e.g. about seeing weight entered on treadmill</li>
<li>Who is around you, e.g. mom's kid--what that means for patience, etc.</li>
<li>Facebook social as a platform--JCPenney duplicate their store in facebook but doesn't leverage or pay attention to the context of facebook; Target allows you to contribute to birthday present purchase</li>
<li>Think about
<ul>
<li>could there be any peer pressure in the mix?</li>
<li>How public is your user? How public would someone want to make what they're doing?</li>
<li>Is your user alone? with others? Kids?</li>
<li>Are there any expectations that social will be present?</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
</ul>
<h2>Key take-home points for me:</h2>
<p>People have different priorities, attention, and various limitations based on where they are and who is around them. Make sure to consider that when creating experiences for multiple channels. The context is more important than the specific limitations of the devices that they are using, so even though lots of new devices are coming out that we haven't even though of yet we can get up to speed faster if we consider in what context the experience we have in mind is going to happen.</p>
