---
title: ! 'IA Summit 2012 Notes: Crowdsourced Remote Unmoderated Usability Testing'
category: Conference Notes
tags:
- IAS12
- Usability Testing
comments:
- id: 7545
  author: cpd
  author_email: carpediemspain@gmail.com
  author_url: ''
  date: !binary |-
    MjAxMi0wNC0wNSAxMjo0NDo0MSAtMDQwMA==
  date_gmt: !binary |-
    MjAxMi0wNC0wNSAxOTo0NDo0MSAtMDQwMA==
  content: ! "Hi Pam, userlytics.com goes a step further, integrating both moderated
    and unmoderated.\r\n\r\nIn the standard unmoderated version you can record a Video-in-Video
    of respondents desktop screen (browser plus rest of desktop) and a webcam view
    of the respondent\r\n\r\nIn the moderated version you get the same results, but
    you also get to see the participant screen and moderate"
- id: 7546
  author: Pam Griffith
  author_email: pam@pamgriffith.net
  author_url: http://www.pamgriffith.net
  date: !binary |-
    MjAxMi0wNC0wNSAxMzoxNDoxNCAtMDQwMA==
  date_gmt: !binary |-
    MjAxMi0wNC0wNSAyMDoxNDoxNCAtMDQwMA==
  content: Good to know! I don't think I had that one on my list of testing sites
    to try, definitely adding it.
---
<p><em>This is part of a series of notes from the Information Architecture Summit from 2012. All posts will be tagged <%= link_to "IAS12", tag_path("IAS12") %>. This talk was presented by Inge De Bleecker (<a href="https://twitter.com/#!/ingedebleecker">@ingedebleecker</a> on Twitter). The slides are available on <a href="http://www.slideshare.net/ingedebleecker/crowdsourced-remote-unmoderated-usability-testing">Slideshare</a>.</em></p>
<ul>
<li>Remote usability testing usually has a participant and a moderator in the same session with screen sharing and audio, moderator can ask participant to complete task and ask clarifying questions</li>
<li>Unmoderated--participant and moderator not sharing session, you need online means to provide tasks to the participant</li>
<li>Crowdsourced--how we go about recruiting participants, outsourced to undefined, large group of people without any constraints</li>
<li>Examples
<ul>
<li>Screenshot click test: Usabilla, Userzoom, Usabilityhub</li>
<li>Screenshot timed test (participant gets to look for only ~5 seconds, then is asked questions): Userzoom, Usabilityhub</li>
<li>Task-based usability study with online survey (longer session, mirrors in-lab testing more closely): Usertesting.com, Loop11, Userzoom, DIY</li>
</ul>
</li>
<li>Advantages of remote unmoderated testing
<ul>
<li>use of personal devices, get a nice breadth of devices</li>
<li>in own environment</li>
<li>fast turnaround time</li>
<li>cheap(er)</li>
</ul>
</li>
<li>Disadvantages of remote unmoderated testing
<ul>
<li>no additional questions</li>
<li>can't observe participant (but you may be able to get them to do screen capture and audio)</li>
</ul>
</li>
<li>Process same as most usability tests: recruit, task plan, test, analyze, report</li>
<li>Need committed participants for higher quality, better completion rate, longer sessions
<ul>
<li>Compensation: if you pay peanuts you'll get monkeys
<ul>
<li>For one of her clients the sweet spot is $35, but may have to pay more for very specific profiles</li>
</ul>
</li>
<li>It can help if the participant has loyalty to something tied to test, e.g. to crowdsourcing company that recruits them b/c crowdsourcing company provides ratings for participants and they want to keep rating up (usertesting.com)</li>
</ul>
</li>
<li>Tips for writing a task plan--unmoderated remote testing is high risk, you have to make sure that will go perfectly or you will lose people and completions even if they are highly committed to completing the tasks
<ul>
<li>Participants can't get blocked while completing tasks or answering questions</li>
<li>You only get one shot, can't observe so can't help participants work around troubles--but you can babysit results to see if the first few people can get through tasks and questions, fix test if they can't</li>
<li>Tasks need to guide without influencing behavior</li>
<li>Make all questions required so participants don't get lazy (but make sure there's an answer available for people who really don't know what to do)</li>
<li>Encourage people throughout survey to think aloud or write down: generally people are pretty good about doing it</li>
<li>Task and question types depend on tool--DIY is more labor intensive, but there are very few constraints relative to commercial tools</li>
</ul>
</li>
<li>DIY remote testing: put questions questions in Survey Monkey (or Google Docs), participant must open site in another tab and go back and forth</li>
<li>Results are all self-reported data, have to think about how you interpret that--however, people still are explaining their thinking and you can still get a lot of information</li>
<li>Can use for tests in a language that the moderator does not speak and use translator</li>
<li>At least 10 or often 15-20 participants per profile (bumped up from 8 for lab test)</li>
</ul>
<h2>Key take-home points for me:</h2>
<p>I just recently read Nate Bolt's <a href="http://www.rosenfeldmedia.com/books/remote-research/">Remote Research</a> (highly recommended, btw) and I have been wanting to put some of that into use. What was most interesting to me about this talk was that she goes one step further, to say that yes, you can have unmoderated tests that mirror the moderated ones, with questions in some external tool like Survey Monkey. That loses even more of the ability to see what the participant is thinking, but it might be something worth trying out while I'm trying out other remote research techniques.</p>
