---
title: IAS13 - Brown Dirt UX - Creating Impact Without Permission
category: Conference Notes
tags:
- IAS13
- Design Process
comments: []
---
<p><em>This is part of a series of notes from the Information Architecture Summit from 2013. All posts will be tagged <%= link_to "IAS13", tag_path("IAS13") %>. This talk was presented by Adam Polansky.</em></p>
<div>
<div>
<ul>
<li>How can I position myself to do my best work? Be known as a trusted advisor, convince the people who make decisions</li>
<li>Jeffrey Gitomer: "Trust forms the foundation for everything you do in business &amp; everything you do in your personal life"</li>
<li>trust audit: how much to people who work with trust you? then next layer out (bosses, decision makers)
<ul>
<li>we trust people when they give us something of value, and value is subjective and often a reaction to pain</li>
<li>what do they value?
<ul>
<li>time - province of development, how much time does it take to build?
<ul>
<li>developers are asked for time constraints before requirements are set</li>
<li>when developers say something, it's not open to discussion, they have an opaque skill set</li>
</ul>
</li>
<li>money - provice of business (acct managers, founders, directors)
<ul>
<li>the person who is on the hook for getting what the user wants is actually on the hook for what the business wants the users to want (what they actually need to buy may not be what brings in the biggest margin)</li>
</ul>
</li>
<li>quality - province of user experience
<ul>
<li>time and money cause pain, bad quality has a further pain horizon than the others so it's easier to sacrifice now and pay later to end pain now in other attributes</li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li>what can you do now to speak to what other people value?
<ul>
<li>heuristic analysis
<ul>
<li>provides a way to give quantified view and aggregate instead of arguing opinions</li>
</ul>
</li>
<li>remote usability testing
<ul>
<li>often offer freebies, pick something to test and go out and use them--won't be comprehensive, but provides an indication
<ul>
<li>some have video you can show, words come from someone else's mouth--an expert is anyone who comes from more than 50 miles away</li>
</ul>
</li>
</ul>
</li>
<li>guerrilla user research
<ul>
<li>spare time, weekends, don't bother anyone with the details of how you're going to get this information, just provide outcomes and don't have anyone argue tradeoffs</li>
</ul>
</li>
<li>competitive audit
<ul>
<li>apply the above to competitors</li>
<li>put in comparitive spreadsheet, show outlying examples of people who do things a little different--helps come up with something unique that competitors don't do</li>
</ul>
</li>
<li>prototype something
<ul>
<li>let people play with it and walk through using it, helps explain</li>
</ul>
</li>
</ul>
</li>
<li>an IA's job is to generate understanding--do whatever level you need to communicate to who you are communicating to</li>
</ul>
</div>
</div>
