---
title: Someone should write this, part 2
category: Reading
tags: []
comments: []
---
<p><a href="http://en.wikipedia.org/wiki/Tezcatlipoca">Tezcatlipoca</a> as a jazz musician in the 1920s. <a href="http://en.wikipedia.org/wiki/Quetzalcoatl">Quetzalcoatl</a> should show up and sass him, but then maybe they end up saving the world together. Or maybe not. There should be speakeasies and Gatsby-esque decadence. It might take place in the same world as <em>American Gods</em> and <em>Anansi Boys</em>.</p>
