---
title: Freelance rates survey
category: Freelancing
tags: []
comments: []
---
<p><a href="http://ournameismud.co.uk/blog/article/freelance-rates-what-do-freelancers-charge/">Results of the 2013 freelance rates survey</a></p>
<p>I quit freelancing and got a full-time gig so I could stop having to think about this sort of thing, but this would have been super-nice to have when I was just starting--it won't tell you what you <em>specifically</em> should charge, but having a ballpark of what other people might be asking would have been fantastic. So, promote, share, and enjoy.</p>
