---
title: Werewolves in Star Fleet
category: Reading
tags: []
comments: []
---
<p>There aren't enough scifi/fantasy crossovers. Think urban fantasy in a space opera setting, or perhaps...werewolves in star fleet. I was thinking of the latter the other day when I was wondering what effect space travel would have on lycanthropy (I don't remember how I got on that particular train of thought)--is it just Earth's moon, or will any full moon do? Could you avoid the effect altogether by staying out from between any moons and their nearest star? Anyway, I'm no author, but I'd like to see someone write that, and after searching a bit I'm disappointed that it doesn't seem to exist already (I did, however, find <a href="http://indyplanet.com/store/product_info.php?products_id=5949"><em>Nazi Werewolves from Outer Space</em></a>). I think there are a few interesting story possibilities...</p>
<h2>Story 1:</h2>
<p>The story universe's equivalent of Vulcans come to earth and set up an international space federation of some sort, but they insist that <em>all</em> of earth's sentient species be allowed to join--</p>
<p style="padding-left: 30px;">"What do you mean, <em>all</em>? Like, dolphins?"</p>
<p style="padding-left: 30px;">"Well, those too, if they want, but we were thinking of the humanoid creatures like werewolves and elves."</p>
<p style="padding-left: 30px;">"Wait, <em>what‽</em>"</p>
<p>Fairytale creatures cautiously come out from under their hills and whatnot, humans reel from the double revelation that not only are they not alone in the universe but they aren't even alone on their own planet. Prejudice on all sides, but eventually it fades into the background noise with all the diversity of a galactic civilization. Perhaps there is a realization that "you may be weird, but you're <em>our</em> kind of weird."</p>
<h2>Story 2:</h2>
<p>None of the above has taken place, werewolves and the like are still covert. One of them decides join the story universe's star fleet equivalent, perhaps to fight some threat to all life on earth. Mother and father are aghast--"It can only end in tears!" Perhaps the academy goes ok, with some sticky situations with roomates or exams on full moons, but it's a lot harder to hide things on a spaceship, and this next planet we're visiting has <em>how many</em> moons‽</p>
<h2>Story 3:</h2>
<p>Bad vampire and werewolf romance in space. I don't actually want to read this, but imagine the melodramatic cover art possibilities.</p>
<h2>Addenda:</h2>
<ul>
<li>The chief engineer leaves a saucer of cream for the brownies in the engine room every night. The other engineers think this is a bit eccentric, but you can't argue with the ship's safety record.</li>
<li>Space ships and stations have to be redesigned not to use iron to comply with non-discrimation acts so fairies can work and live in space.</li>
<li>Fairy glamor makes for great spies and diplomats. Fairies are also great at negotiation.</li>
</ul>
