---
title: Adaptive icons
category: Design Critique
tags: 
- Psychology
comments: []
---
<p>There's a nice little feature of the iphone that the icon for the calendar app updates to show the correct date and day of the week. It's a nice, quick way to see the date without checking, and it doesn't put the incorrect date into your head if you just happen to glance at a calendar icon with the wrong number.</p>
<p>The weather icon, however, does not update based on the current weather. It is forever 73 degrees and sunny.</p>
<p><%= image_tag "2013/01/icons.jpg", { :alt => "The calendar icon on the left showing Friday the 25th, and the weather icon on the right showing 73 degrees" } %></p>
<p>I understand that the phone just knows the date but it has to contact outside services to get the weather, but man does it feel like that 73 degrees and sunny is taunting me when the actual weather is 12 degrees and snowy.</p>
