---
title: IAS13 - Revolutionising GOV.UK
category: Conference Notes
tags:
- IAS13
comments: []
---
<p><em>This is part of a series of notes from the Information Architecture Summit from 2013. All posts will be tagged <%= link_to "IAS13", tag_path("IAS13") %>. This talk was presented by Paul Annett.<br />
</em></p>
<ul>
<li>Before:
<ul>
<li>hundreds of government department websites make it hard to find stuff, have to know how gov works to know where to look</li>
<li>1 in 5 phone calls to help lines were for failed digital transactions; web transaction costs 1 penny, phone call costs 6 pounds</li>
<li>locked into contracts, can cost 75,000 dollars to change a line of code</li>
</ul>
</li>
<li>starting to replace everything with single gov.uk
<ul>
<li>created Government Digital Services (GDS) cabinet office with control of all user experience across all digital channels</li>
<li>fix publishing</li>
<li>fix transactions</li>
<li>open API</li>
</ul>
</li>
<li>citizen needs information (next public holiday, do I apply for X) and services (taxes, renew passport)
<ul>
<li>most digital services can't be done online, working on digitizing and improving
<ul>
<li>some services can be prioritized based on frequent use (register to vote vs apply for burial at sea)--created metrics of transactions for each department of each service, all publicly browsable</li>
<li>started with 25 of the most important services that will set the bar for all the others</li>
</ul>
</li>
</ul>
</li>
<li>private sector ecommerce has design patterns, but government transactions are obligated, complicated, infrequent ("grudge transactions")
<ul>
<li>users don't compare to other governments, compare to google and twitter, need to measure up</li>
<li>want people to prefer online to phone or face to face</li>
</ul>
</li>
<li>proof of concept in 2011 to start conversations
<ul>
<li>just a taste of what could be done without bureaucracy overhead, use to convice polititions that this was the right way to go</li>
<li>public, invited feedback, have continued to iterate design</li>
<li>initial prototype didn't worry about scalability, main focus was feedback</li>
</ul>
</li>
<li>design principles (published, want to change how government organizations think and work, explain process, evolve over time)
<ul>
<li>start with needs (user needs, not departments or stakeholders)--if you don't give people what they want in private sector, they go to a competitor; in public sector, competitor is the more expensive channels like phone
<ul>
<li>analyzed search terms on old sites, used to prioritize content on new site and uncover user needs</li>
</ul>
</li>
<li>do less, focus efforts on what needs to be done: government should only do what only government can do--cut out things like tips on keeping bees, reduced number of pages and closed things that other non-gov sites could do better</li>
<li>design with data: user testing on prototypes, analytics</li>
<li>share information, e.g. with call centers, who have rich information on exactly what the problems are with digital services, create shared responsibility for keeping things running smoothly</li>
<li>do the hard work to make it simple--online services are on top of complex processes and legislation--hard to simplify something when specific procedures are enshrined in law
<ul>
<li>don't over-simplify, people can feel sped through without being given time to think on forms that are too short and simple; people have trouble trusting government services that are too simple, "can't possibly work that way"</li>
</ul>
</li>
<li>iterate! don't treat websites like rockets, they're services so you can refine them over time</li>
<li>build for inclusion
<ul>
<li>the people who use gov services the most are the people who are most vulnerable and hardest to reach--need to allow people to register to vote without email or computer; accessibility is not just checkboxes, needs to account for real use</li>
<li>people who haven't used a computer don't scroll--the fold is back! don't have to avoid scrolling, but consider it, especially on things more likely to be seen by people who haven't used computer before</li>
</ul>
</li>
<li>understand context and environment (job center, home, hospital bed)
<ul>
<li>government transactions are often related to stress and suffering, being asked to make very serious decisionts--slow people down, give them the time to make those decisions wisely, consider emotional context</li>
</ul>
</li>
<li>build digital services, not websites
<ul>
<li>many services have elements that aren't digital, design for those--some can be digital, but some won't
<ul>
<li>e.g. may have alternatives to signing using webcam, try to make people's lives easier</li>
</ul>
</li>
</ul>
</li>
<li>be consistent, not uniform: not every pattern works in all situations, agencies have guidance on how to design services but also freedom to experiment and work out what works best as they go along</li>
<li>make things open, share with colleauges, users, etc.--why they have alpha, github, etc., allows feedback, lets people to contribute better code, enable world to build services that are bigger and better on their data
<ul>
<li>also paying back open source community</li>
<li>the public paid for it, they own it</li>
</ul>
</li>
</ul>
</li>
</ul>
