---
title: Nostagia, in CSS
category: Code
tags:
- CSS
comments: []
---
<p>The other day I was working on a table and I realized that the colors I was using for table striping reminded me of that old green bar printer paper--you know, the kind with the tear-off strips of holes on the side? A little bit of tinkering later and I ended up with some css for green bar paper and ditto-machine ink. I'll probably tinker with it some more to make the holes better and try out text masking to give the effect of a bad ditto run-off, but here it is:</p>
<p data-height="361" data-theme-id="0" data-slug-hash="zaBJp" data-user="pamgriffith" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/pamgriffith/pen/zaBJp'>Ditto</a> by Pam Griffith (<a href='http://codepen.io/pamgriffith'>@pamgriffith</a>) on <a href='http://codepen.io'>CodePen</a></p>
<script async src="//codepen.io/assets/embed/ei.js"></script>
