---
title: ! 'IAS13 - Design Guidelines: Real-Life Stories'
category: Conference Notes
tags:
- IAS13
- Design Process
comments: []
---
<p><em>This is part of a series of notes from the Information Architecture Summit from 2013. All posts will be tagged <%= link_to "IAS13", tag_path("IAS13") %>. This talk was presented by Rachel Sengers, Lesley Humphreys, Rob Fay, and Christopher Merkel.</em></p>
<div>
<div>
<ul>
<li><strong>Rachel Sengers: JDSU (test and measurement equip for telecom)--just started on the design guidelines process</strong>
<ul>
<li>kickstarted with workshop week with people from different products, functions, and offices: brainstormed topics, then broke into groups to work on different topics; workgroups continued on guidelines and governance after workshop week</li>
<li>management support got it started, workshops developed bottom-up support to keep it going: workshop representatives became embassadors, recommendations were made by people close to the products</li>
<li>strategic decision: visual guidelines first, interaction later
<ul>
<li>easier to implement in existing project and show tangible results earlier</li>
<li>easier for upper management to grasp</li>
<li>makes it look consistent even if workflows aren't</li>
<li>don't bite off too much at once--started small (even only key parts of major products) and iterate, hard to make something that covers everything possible right away ("low-hanging fruit")</li>
</ul>
</li>
<li>visual design guidelines were made to allow product managers to customize as appropriate (guides had light and dark theme)</li>
</ul>
</li>
<li><strong>Rob Fay: Blackboard--started 5 years ago, mid-life of cycle</strong>
<ul>
<li>Multiple products were becoming siloed, wanted to modernize, increase usability and shared design framework across products, and free up resources used on re-designing each feature to innovate</li>
<li>Took blue-sky design goals to project groups and asked what was feasible now and how teams might move toward the ideal later</li>
<li>Design team made images to describe patterns with title, summary, rules of use, exceptions, jsp tags for engineers to use--later added accessibility and text considerations, links to usability research to justify the pattern
<ul>
<li>Most common pattern was standard page</li>
<li>Pages contain components and behaviors</li>
<li>Behavior can be referenced on its own, may not be visual (drag and drop is a behavior type not tied to page or component)</li>
<li>Pages are contained within page flows (e.g. checkout)</li>
</ul>
</li>
<li>Tools
<ul>
<li>Used wiki to store design framework, but someone has to maintain it through iterative design cycles; formal steering committee was too much, though</li>
<li>Bug tracker is too formal for design process, didn't catch on; now they have a ux representative communicate changes to team instead of formal tracker and any ideas generated are brought back to influence the guidelines</li>
<li>Formal onboarding resources for new designers with a point person for each part</li>
</ul>
</li>
<li>Design guideline process influenced company culture, created conversations with marketing and design teams on other products, which now look to the flagship product design team to create common patterns across products</li>
</ul>
</li>
<li><strong>Chris Merkel: Xerox--9 years</strong>
<ul>
<li>2004 struggling with relevance, needed refresh</li>
<li>Brand book for early years in company, but too hard for brand team to manage for all of their products</li>
<li>Brand book turned into website, added web guidelines and transitioned between old guidelines to web guidelines (voice, color, layouts could be shared from print)</li>
<li>Added de-facto standards in use by various product groups for use in other products (e.g. added a blue used by industrial design team to Xerox red on website)</li>
<li>Products need user experience and branding approval, iterate until things get approved and add to brand book</li>
<li>Executives spread the word between product silos--even used for marketing, legal, professional services, etc.</li>
<li>Cross-product design guides made it easier to rebrand 2007-2011</li>
<li>Introduced formal brand training for any new employee</li>
</ul>
</li>
<li><strong>Lessons</strong>
<ul>
<li>get management support for money, people, and time</li>
<li>cross divisional participation</li>
<li>start with manageable pieces, grow guidelines over time</li>
<li>allow process to grow organically, get support from bottom up and don't force things</li>
</ul>
</li>
</ul>
</div>
</div>
