---
title: Pictures
category: Personal
tags: []
comments: []
---
<p>Finally got around to uploading some pictures from the last year.</p>
<h2>Niagara Falls</h2>
<p><a href="https://www.flickr.com/photos/pamgriffith/sets/72157646488074307/"><%= image_tag "2014/09/niagara.jpg" %></a></p>
<h2>Chicago</h2>
<p><a href="https://www.flickr.com/photos/pamgriffith/sets/72157646598709681/"><%= image_tag "2014/09/chicago.jpg" %></a></p>
