---
title: Reading List
category: Reading
tags: []
comments: []
---
<p>I frequently have a number of tabs open with long articles that I read throughout the day, and in the interests of keeping more of my thoughts in a space I actually control here are some interesting things I've read lately. There may or may not be other posts like this in the future.</p>
<h2><a href="http://www.theatlantic.com/magazine/archive/2002/03/1491/302445/?single_page=true&amp;utm_source=FB1013_06">1491</a></h2>
<p>An interesting dive into the scholarship of what the Americas might have been like prior to the arrival of Columbus. The article makes no conclusions, but presents several scholars who believe that 1) many parts of the American natural environment, including the Amazon rain forest and the great plains were in fact human-constructed, and 2) the Americas were much more populous than originally believed, with possibly over 90% mortality from European diseases spreading ahead of the explorers, giving the false impression of an untouched wilderness. I don't know if that's true, and probably we'll never know, especially since the scholarship can't be dissociated from political and moral implications, but it's interesting to contemplate.</p>
<h2><a href="https://medium.com/message/how-white-people-got-made-6eeb076ade42">How White People Got Made</a></h2>
<p>An argument that whiteness as a race--vs individual country affiliations like English, Irish, French, Dutch, etc.--was invented in colonial Virginia as a divide-and-conquer technique to keep the colonists from all rebelling together. Now, I don't know that I'd go quite that far, there was certainly language about civilized European Christians vs "savages" before that, but there's probably some truth to it too. Certainly the effect of dividing a group by giving some a small privilege and taking away from others has been replicated many times, e.g. in the Stanford prison experiment.</p>
<p>Both of which remind me of this, which I read some time ago:</p>
<h2><a href="http://deepseanews.com/2012/06/how-presidential-elections-are-impacted-by-a-100-million-year-old-coastline/">How presidential elections are impacted by a 100 million year old coastline</a></h2>
<p>Richer soil from the ancient coastline led to more slave-owning plantations which now means more black voters in that area. Our culture is forever shaped by all of history and all of pre-history.</p>
<h2><a href="http://www.nytimes.com/interactive/2014/10/14/world/middleeast/us-casualties-of-iraq-chemical-weapons.html?_r=1">The Secret Casualties of Iraq’s Abandoned Chemical Weapons</a></h2>
<p>I was opposed to sending soldiers to Iraq, but since we sent them, it's our responsibility to take care of them. Starting a war on false premises led the military command to fail in that responsibility, and that is unacceptable.</p>
<h2><a href="https://www.scribd.com/mobile/doc/240797636#fullscreen">"You Are Not Alone Across Time": Using Sophocles to treat PTSD</a></h2>
<p>Our culture doesn't talk about sorrow much, but it's a normal part of life, especially in traumatic circumstances. Knowing that someone else has experienced the same thing, that you aren't the only one, that this isn't a singular, personal failure, is huge.</p>
<h2><a href="http://books.google.com/books?hl=en&amp;lr=&amp;id=r5_IAgAAQBAJ&amp;oi=fnd&amp;pg=PP1&amp;ots=DEmBej4EGi&amp;sig=HucpSWlMljwTwTbEGcBzeKs23wg#v=onepage&amp;q&amp;f=false">Kafka’s Cognitive Realism</a></h2>
<p>I haven't read this, but I'm delighted that it exists. Kafka-inspired philosophy of mind meets embodied cognition.</p>
<h2><a href="http://www.newyorker.com/magazine/2014/11/03/grain">Against the Grain</a></h2>
<p>A roundup of research about gluten intolerance. Gluten-free diets seem so faddy, but the article points out that 1) many of the people who are "intolerant" to gluten probably aren't, but may have a sensitivity to some other compound in wheat; 2) there is an increase in diagnosed gluten intolerance that probably can't be explained by better awareness alone; 3) there is substantially more gluten in commercial bread and other foods than there was before it was mass-manufactured.</p>
<h2><a href="http://www.pbs.org/newshour/updates/farm-urban-ruins">Photo essay: What’s growing in West Virginia’s urban ruins?</a></h2>
<p>Repurposing abandoned urban wastelands for farming. I found myself wondering about other times this has happened in human history, e.g. Europe after the fall of Rome. Farms -&gt; cities -&gt; farms -&gt; cities -&gt; farms.</p>
<h2><a href="http://nathanfriend.com/inspirograph/">Inspirograph</a></h2>
<p>Not an essay or book, just a toy. I loved my Spirograph when I was a kid, this is the web version. I'm disappointed that it doesn't work on my iPad, but it's still great.</p>
