---
title: About
---
<p>Hello, my name is Pam Griffith.  I'm interested in the way people think and interact with technology and one another.</p>
<p>I'm currently self-employed. Before that I was a user experience designer and web developer at <a href="http://sri.com/">SRI International</a>.  I have a BS in Cognitive Science from UCSD and an MS in Human Computer Interaction from Georgia Tech, where I worked with <a href="http://www.cc.gatech.edu/~asb/">Amy Bruckman</a> and <a href="http://www.cc.gatech.edu/~luther/">Kurt Luther</a>.</p>
<p>I live in Pittsburgh, PA with <a href="http://www.owlfolio.org/">Zack Weinberg</a> and I would love to meet other people in the Pittsburgh design community!</p>
<p>I can also be found elsewhere on the internet:</p>
<ul>
<li><a href="http://twitter.com/haloedrain/">Twitter</a></li>
<li><a href="http://www.linkedin.com/in/pamgriffith">LinkedIn</a></li>
</ul>
