---
pageable: false
---
<article class="archive">

  <header class="entry-header">
    <h1 class="entry-title">Archive of posts with category '<%= category %>'</h1>
  </header>

  <div class="entry-content">
    <ul>
    <% page_articles.each_with_index do |article, i| %>
      <li>
        <%= link_to article.title, article %>
        <time class="entry-date" datetime="<%= article.date.strftime('%F') %>"><%= article.date.strftime('%B %-d, %Y') %></time>
      </li>
    <% end %>
    </ul>
  </div>

</article>