---
title: Résumé
---
<p>I am a <strong>user experience designer</strong>. I excel at interaction design, wireframing, rapid mockups with web technologies, and usability testing.</p>
<h2>Skills:</h2>
<ul>
<li><strong>User-centered design techniques</strong>, including
<ul>
<li>Interaction design using diagrams, storyboards, and prototypes</li>
<li>Interviewing, usability testing, card sorting</li>
<li>Qualitative and quantitative data analysis</li>
</ul>
</li>
<li><strong>Rapid prototyping and testing </strong>with various tools, including
<ul>
<li>Photoshop/Illustrator/Fireworks</li>
<li>Balsamiq and other wireframing tools</li>
<li>HTML, CSS, Javascript, and various backend technologies</li>
<li>Paper prototyping</li>
<li>3d modeling software</li>
</ul>
</li>
</ul>
<h2>Education:</h2>
<ul>
<li><strong>MS in Human Computer Interaction</strong><br />
Georgia Tech (2008)</li>
<li><strong>BS in Cognitive Science</strong> with a Specialization in Human Computer Interaction<br />
University of California, San Diego (2006)</li>
</ul>
<h2>Work Experience:</h2>
<ul>
<li><strong>Software Engineer at SRI International</strong><br />
<em>August 2010-March 2015</em><br />
Information architecture, interaction design, content strategy, wireframing, prototyping, testing, analytics, style guides, and front-end web development on various projects, particularly for interfaces involving browsing and searching very large data sets.</li>
<li><strong>Freelance Web Designer</strong><br />
<em>January 2010-August 2010</em><br />
Wireframing and task flow design, css, javascript, html, and php (specifically wordpress) development, and mobile site development.</li>
<li><strong>Web Programmer at Metaplace Inc.</strong><br />
<em>June 2008-December 2009 and summer 2007</em><br />
Designed, gathered user feedback on, and built a myriad of AJAX interactions, javascript and html dialogs, and PHP pages and web services.</li>
<li><strong>Masters Project: <a title="Masters Project – Online collaborative 3d art" href="<%= data.meta.baseurl %>/portfolio/masters-project-online-collaborative-3d-art">Collaboration in 3d Art</a></strong><br />
<em>September 2007-May 2008</em><br />
Participated in and observed several online communities and conducted interviews with collaboration participants to determine how people work together (or fail to work together) online on artistic projects.</li>
<li><strong>Student Research Assistantship with Dell and Georgia Tech</strong><br />
<em>Spring 2007 and Fall 2007</em><br />
Interviewed and taped people using their home media centers, made projections about the sorts of things people need to improve these systems' usability and utility.</li>
<li><strong>Web Programmer for the Teams In Engineering Service program at UCSD</strong><br />
<em>Summer 2006</em><br />
Talked to various stakeholders and laid the groundwork for the new team collaboration site in PHP with improved workflow and many new collaboration features.</li>
<li><strong>Forum Coordinator on the Blender 3d Forum on Renderosity.com</strong><br />
<em>July 2005-January 2012</em><br />
Organized and moderated the forum and associated gallery, download, and tutorial areas</li>
<li><strong>Integration Intern at Entriq</strong><br />
<em>Summer 2005</em><br />
Customized storefront with CSS for customers, rewrote storefront application in AJAX.</li>
<li><strong>Interface Design Intern at Tribeworks</strong><br />
<em>Summer 2004</em><br />
Used Photoshop to create themes for a PDA photo album.</li>
</ul>

<h2>Contact</h2>

<%= partial "layouts/contact" %>